Repository PaddlePaddle/CINN: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

use cpphelper
  python/tests/ops/test_batch_norm_op.py
Due: copyright_checker

Fix nv_test compile error
  CMakeLists.txt
  cmake/core.cmake
Due: none

Update cmake in ci
  tools/docker/Dockerfile.ci
  tools/docker/Dockerfile.ci.cuda
Due: none

Use latest docker image
  tools/docker/Dockerfile.ci
  tools/docker/Dockerfile.ci.cuda
Due: none

Add Op UnitTest for one_hot (#1501)
  python/tests/ops/test_one_hot_op.py
Due: copyright_checker

Update cuda lib find path
  CMakeLists.txt
Due: none

fix
  python/tests/ops/test_mul_op.py
Due: copyright_checker

Add timestamp to prevent old cache from being used after docker image update
  tools/docker/Dockerfile.ci
  tools/docker/Dockerfile.ci.cuda
Due: none

update node inferface
  cinn/api/op_group.h
  cinn/api/op_interface.h
  cinn/api/op_node.cc
  cinn/api/op_node.h
  cinn/api/tensor_node.cc
  cinn/api/tensor_node.h
Due: clang-format-with-version-check, copyright_checker

delete useless code in OpLower
  cinn/hlir/framework/op_lowering.cc
  cinn/hlir/framework/op_lowering.h
Due: clang-format-with-version-check, copyright_checker

absl add absl cxx standard for ci pass
  CMakeLists.txt
  cmake/external/absl.cmake
Due: none

Use SHA to specify docker image
  tools/docker/Dockerfile.ci
  tools/docker/Dockerfile.ci.cuda
Due: none

remove mul
  python/tests/ops/test_mul_op.py
Due: copyright_checker

fix mul
  python/tests/ops/test_mul_op.py
Due: copyright_checker

Update CMAKE_CXX_STANDARD to c++17 (#1526)
  CMakeLists.txt
  cinn/pybind/bind.h
  cmake/core.cmake
  cmake/external/absl.cmake
  tools/docker/Dockerfile.ci
  tools/docker/Dockerfile.ci.cuda
  tutorials/build_demo.sh
Due: clang-format-with-version-check, copyright_checker

update
  cinn/api/op_group.h
  cinn/api/op_node.h
  cinn/hlir/framework/graph.h
  cinn/hlir/pass/fusion_merge_pass.cc
  cinn/hlir/pass/general_fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

Logical op full dtype support
  cinn/hlir/op/elementwise.cc
  cinn/hlir/pe/broadcast.cc
Due: clang-format-with-version-check, copyright_checker

update
  cinn/api/op_group.h
  cinn/api/op_node.h
  cinn/hlir/pass/general_fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

fix style
  python/tests/ops/test_mod_op.py
Due: copyright_checker

fix bugs
  python/tests/ops/test_acosh_op.py
Due: copyright_checker

update
  cinn/api/op_group.h
  cinn/hlir/framework/graph.h
  cinn/hlir/pass/fusion_merge_pass.cc
  cinn/hlir/pass/general_fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

merge IRLowerOp to LowerGroup
  cinn/hlir/framework/op_lowering.cc
  cinn/hlir/framework/op_lowering.h
Due: clang-format-with-version-check, copyright_checker

change shared_ptr to OpGroup object in iterator
  cinn/api/op_group.h
  cinn/hlir/framework/graph.h
  cinn/hlir/pass/check_fusion_accuracy_pass_test.cc
  cinn/hlir/pass/fusion_merge_pass.cc
  cinn/hlir/pass/general_fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

remove sum from add_cast_pass
  cinn/frontend/pass/auto_cast.cc
  python/tests/ops/test_sum_op.py
Due: clang-format-with-version-check, copyright_checker

modify is_same_size by new interface
  cinn/CMakeLists.txt
  cinn/api/CMakeLists.txt
  cinn/api/op_node.cc
  cinn/api/op_node.h
  cinn/api/tensor_node.h
  cinn/hlir/pass/check_fusion_accuracy_pass_test.cc
  cinn/hlir/pass/general_fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

Add Op UnitTest for batchnorm (#1503)
  python/tests/ops/test_batch_norm_op.py
Due: copyright_checker

Add Op UnitTest For Max/Mod/Multiply (#1482)
  python/tests/ops/test_max_op.py
  python/tests/ops/test_min_op.py
  python/tests/ops/test_multiply_op.py
Due: copyright_checker

delete useless code in OpLower (#1529)
  cinn/hlir/framework/op_lowering.cc
  cinn/hlir/framework/op_lowering.h
Due: clang-format-with-version-check, copyright_checker

remove sum decomposer and revert sum ir realize (#1520)
  cinn/frontend/decomposer/CMakeLists.txt
  cinn/frontend/decomposer/elementwise.cc
  cinn/frontend/decomposer/elementwise_test.cc
  cinn/frontend/decomposer/use_decomposer.h
  cinn/frontend/pass/auto_cast.cc
  cinn/hlir/op/elementwise.cc
  python/tests/ops/test_sum_op.py
Due: clang-format-with-version-check, copyright_checker

refactor HorizontalElementwiseFuseReduce
  cinn/hlir/pass/general_fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

Logical op full dtype support (#1531)
  cinn/hlir/op/elementwise.cc
  cinn/hlir/pe/broadcast.cc
Due: clang-format-with-version-check, copyright_checker

Remove old flag in argmax
  cinn/hlir/op/contrib/argmax.cc
Due: clang-format-with-version-check, copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$, but not: (?x)^(
    infrt/.*
)$

