Repository PaddlePaddle/CINN: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

fix after merge bug
  cinn/frontend/base_builder.cc
  cinn/frontend/base_builder.h
  cinn/pybind/frontend.cc
Due: clang-format-with-version-check, copyright_checker

add new schedule
  cinn/backends/codegen_c.cc
  cinn/backends/codegen_c.h
  cinn/backends/codegen_cuda_dev_test.cc
  cinn/common/cas.cc
  cinn/hlir/framework/cuda_graph_compiler_test.cc
  cinn/hlir/framework/graph_compiler.cc
  cinn/hlir/pe/schedule.cc
  cinn/ir/CMakeLists.txt
  cinn/ir/ir_schedule.cc
  cinn/ir/ir_schedule.h
  cinn/ir/lowered_func.h
  cinn/optim/ir_copy.cc
  cinn/optim/ir_simplify.cc
Due: clang-format-with-version-check, copyright_checker

fix test_split_op paddle invlid param bug
  python/tests/ops/test_split_op.py
Due: copyright_checker

Do some code cleaning
  cinn/auto_schedule/cost_model/CMakeLists.txt
  cinn/auto_schedule/cost_model/cost_model.cc
  cinn/auto_schedule/cost_model/cost_model.h
  cmake/core.cmake
Due: clang-format-with-version-check, copyright_checker

add reduce ops
  cinn/hlir/pe/reduction.cc
  cinn/hlir/pe/reduction.h
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
Due: clang-format-with-version-check, copyright_checker

enhance simplify
  cinn/common/cas.cc
Due: clang-format-with-version-check, copyright_checker

compile pass
  cinn/hlir/pe/reduction.cc
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
Due: clang-format-with-version-check, copyright_checker

Test ls file
  build.sh
Due: copyright_checker

Init index_select meta op.
  cinn/frontend/base_builder.cc
  cinn/frontend/base_builder.h
  cinn/frontend/syntax.cc
  cinn/hlir/op/transform.cc
  cinn/hlir/pe/transform.cc
  cinn/hlir/pe/transform.h
  cinn/pybind/frontend.cc
  python/tests/ops/test_index_select.py
Due: clang-format-with-version-check, copyright_checker

Commit for test
  build.sh
Due: copyright_checker

Do code cleaning
  CMakeLists.txt
  cinn/pybind/bind_utils.h
Due: clang-format-with-version-check, copyright_checker

Add xgboost to CI
  build.sh
  tools/docker/requirements.txt
Due: copyright_checker

Simplify some codes.
  cinn/hlir/op/transform.cc
  cinn/pybind/frontend.cc
  python/tests/ops/test_index_select_op.py
Due: clang-format-with-version-check, copyright_checker

update cuda runtime source
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
Due: none

add split schedule and fix bugs
  cinn/frontend/base_builder.cc
  cinn/hlir/framework/graph.cc
  cinn/hlir/framework/graph_compiler.cc
  cinn/hlir/framework/instruction.cc
  cinn/hlir/framework/node.h
  cinn/hlir/op/transform.cc
  cinn/poly/stage.cc
  python/tests/test_netbuilder.py
Due: clang-format-with-version-check, copyright_checker

fix test bug
  cinn/backends/codegen_cuda_dev_test.cc
Due: clang-format-with-version-check, copyright_checker

fix bug
  cinn/frontend/base_builder.cc
Due: clang-format-with-version-check, copyright_checker

tensor data as index
  cinn/backends/codegen_cuda_dev_test.cc
  cinn/ir/ir.cc
Due: clang-format-with-version-check, copyright_checker

fix codestyle
  cinn/ir/ir_schedule.cc
  cinn/ir/ir_schedule.h
Due: clang-format-with-version-check, copyright_checker

Enhance simplify (#677)
  cinn/backends/codegen_cuda_dev_test.cc
  cinn/common/cas.cc
Due: clang-format-with-version-check, copyright_checker

fix reduce op for prod max min
  cinn/hlir/op/reduction.cc
Due: clang-format-with-version-check, copyright_checker

fix block reduce
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
Due: none

format code
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
Due: none

Add the implementation for IndexSelect Compute.
  cinn/hlir/op/transform.cc
  cinn/hlir/pe/transform.cc
  cinn/hlir/pe/transform.h
  python/tests/ops/test_index_select_op.py
Due: clang-format-with-version-check, copyright_checker

Add Reduce Test
  cinn/hlir/op/reduction_test.cc
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
  cinn/runtime/cuda/cuda_intrinsics.cc
Due: clang-format-with-version-check, copyright_checker

fix bugs
  cinn/hlir/framework/graph_compiler.cc
  cinn/hlir/op/transform.cc
  cinn/hlir/pe/transform.cc
  cinn/hlir/pe/transform.h
  cinn/ir/ir.h
Due: clang-format-with-version-check, copyright_checker

Complete the implementation of the index_select op.
  build.sh
  cinn/hlir/pe/transform.cc
  python/tests/ops/op_test.py
  python/tests/ops/test_index_select_op.py
Due: clang-format-with-version-check, copyright_checker

try add index_assign meta op
  cinn/frontend/base_builder.cc
  cinn/frontend/base_builder.h
  cinn/hlir/op/transform.cc
  cinn/hlir/pe/transform.cc
  cinn/hlir/pe/transform.h
  cinn/pybind/frontend.cc
Due: clang-format-with-version-check, copyright_checker

Add more unit tests for index_select.
  python/tests/ops/test_index_select_op.py
Due: copyright_checker

Add new schedule class (#675)
  cinn/backends/codegen_c.cc
  cinn/backends/codegen_c.h
  cinn/backends/codegen_cuda_dev_test.cc
  cinn/hlir/framework/cuda_graph_compiler_test.cc
  cinn/hlir/framework/graph_compiler.cc
  cinn/hlir/pe/schedule.cc
  cinn/ir/CMakeLists.txt
  cinn/ir/ir_schedule.cc
  cinn/ir/ir_schedule.h
  cinn/ir/lowered_func.h
  cinn/optim/ir_copy.cc
  cinn/optim/ir_simplify.cc
Due: clang-format-with-version-check, copyright_checker

Update according to the reviewer's suggestions.
  cinn/hlir/op/transform.cc
  cinn/hlir/pe/transform.cc
Due: clang-format-with-version-check, copyright_checker

fix some bug by review advice
  cinn/frontend/base_builder.cc
  cinn/hlir/framework/node.h
  cinn/hlir/op/transform.cc
  cinn/hlir/pe/schedule.cc
  cinn/hlir/pe/schedule.h
  cinn/hlir/pe/transform.cc
  cinn/pybind/frontend.cc
  python/tests/ops/test_split_op.py
Due: clang-format-with-version-check, copyright_checker

remove empty change
  cinn/frontend/base_builder.h
  cinn/frontend/syntax.cc
  cinn/frontend/syntax.h
  cinn/hlir/framework/graph.cc
  cinn/hlir/framework/graph_compiler.cc
  cinn/hlir/framework/instruction.cc
Due: clang-format-with-version-check, copyright_checker

fix reduce
  cinn/hlir/pe/schedule.cc
Due: clang-format-with-version-check, copyright_checker

fix reduce op
  cinn/hlir/pe/schedule.cc
Due: clang-format-with-version-check, copyright_checker

revert test_netbuilder.py to origin version
  python/tests/test_netbuilder.py
Due: copyright_checker

Add Xgboost-based CostModel (#668)
  CMakeLists.txt
  build.sh
  cinn/CMakeLists.txt
  cinn/auto_schedule/CMakeLists.txt
  cinn/auto_schedule/cost_model/CMakeLists.txt
  cinn/auto_schedule/cost_model/cost_model.cc
  cinn/auto_schedule/cost_model/cost_model.h
  cinn/auto_schedule/cost_model/cost_model_test.cc
  cmake/core.cmake
  python/CMakeLists.txt
  python/cinn/auto_schedule/__init__.py
  python/cinn/auto_schedule/cost_model/__init__.py
  python/cinn/auto_schedule/cost_model/cost_model.py
  python/cinn/auto_schedule/cost_model/xgb_cost_model.py
  python/setup.py.in
  python/tests/auto_schedule/cost_model/test_cost_model.py
  tools/docker/requirements.txt
Due: clang-format-with-version-check, copyright_checker

Update some var names.
  cinn/hlir/op/transform.cc
Due: clang-format-with-version-check, copyright_checker

add single test script
  python/tests/ops/test_index_assign_op.py
Due: copyright_checker

fix reduce schedule
  cinn/hlir/op/reduction_test.cc
  cinn/hlir/pe/schedule.cc
Due: clang-format-with-version-check, copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$, but not: (?x)^(
    infrt/.*
)$

