Repository PaddlePaddle/CINN: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    sha: v1.0.1
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    sha: 5bf6c09bfa1297d3692cadd621ef95f1284e33c0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./tools/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
#-   repo: local
#    hooks:
#    -   id: cpplint-cpp-source
#        name: cpplint
#        description: Check C++ code style using cpplint.py.
#        entry: bash ./tools/codestyle/cpplint_pre_commit.hook
#        language: system
#        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: check-added-large-files
        args: [--maxkb=500]

# -   repo: https://github.com/pre-commit/pre-commit-hooks
#     rev: v1.2.3
#     hooks:
#     - id: flake8

-   repo: https://github.com/pre-commit/mirrors-yapf.git
    rev: v0.26.0
    hooks:
    - id: yapf
      args: ['--parallel', '--in-place']

-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$
        exclude: |
            (?x)^(
                infrt/.*
            )$

Add cuda_util.h in the file cuda_module.h.
  cinn/runtime/cuda/cuda_module.h
Due: clang-format-with-version-check, copyright_checker

fix x86 computeat
  cinn/hlir/pe/schedule.cc
  cinn/lang/lower.cc
  cinn/lang/lower_impl.cc
  cinn/lang/lower_impl.h
  cinn/optim/CMakeLists.txt
  cinn/optim/compute_inline_expand.cc
  cinn/optim/optimize.cc
  cinn/optim/replace_var_with_expr.cc
  cinn/optim/replace_var_with_expr.h
  cinn/optim/transform_computeat_forloop.cc
  cinn/optim/transform_computeat_forloop.h
  cinn/optim/transform_gpu_forloop.cc
  cinn/optim/transform_gpu_forloop.h
  cinn/poly/stage.cc
Due: clang-format-with-version-check, copyright_checker

open cudnn transpose fuse
  cinn/hlir/op/transform.cc
  python/tests/test_facedet.py
Due: clang-format-with-version-check, copyright_checker

opt inference batch_norm
  cinn/frontend/interpreter.cc
  cinn/frontend/paddle_model_to_program.cc
  cinn/frontend/syntax.cc
  cinn/frontend/syntax.h
  cinn/hlir/framework/graph.cc
  cinn/hlir/framework/graph_compiler.h
  cinn/hlir/framework/node.h
  cinn/hlir/pass/CMakeLists.txt
  cinn/hlir/pass/alterlayout.cc
  cinn/hlir/pass/const_propagate.cc
  cinn/hlir/pass/const_propagate_test.cc
  cinn/hlir/pass/opfusion.cc
  cinn/hlir/pass/opfusion_test.cc
  cinn/hlir/pass/use_pass.h
Due: clang-format-with-version-check, copyright_checker

Refactor the type_code<>.
  cinn/common/cinn_value.h
  cinn/pybind/bind_utils.h
  cinn/runtime/cinn_runtime.cc
  cinn/runtime/cinn_runtime.h
  cinn/runtime/cuda/cuda_util.cc
Due: clang-format-with-version-check, copyright_checker

add batch norm accuracy test
  python/tests/ops/op_test.py
  python/tests/ops/test_batch_norm_op.py
Due: copyright_checker

Add `cinn_` prefix in the definition of type_code.
  cinn/common/cinn_value.h
  cinn/pybind/bind_utils.h
  cinn/runtime/cinn_runtime.cc
  cinn/runtime/cinn_runtime.h
  cinn/runtime/cuda/cuda_util.cc
Due: clang-format-with-version-check, copyright_checker

fix test code
  python/tests/ops/op_test.py
  python/tests/ops/test_elementwise_add_op.py
Due: copyright_checker

fix x86 computeat (#559)
  cinn/hlir/pe/schedule.cc
  cinn/lang/lower.cc
  cinn/lang/lower_impl.cc
  cinn/lang/lower_impl.h
  cinn/optim/CMakeLists.txt
  cinn/optim/compute_inline_expand.cc
  cinn/optim/optimize.cc
  cinn/optim/replace_var_with_expr.cc
  cinn/optim/replace_var_with_expr.h
  cinn/optim/transform_computeat_forloop.cc
  cinn/optim/transform_computeat_forloop.h
  cinn/optim/transform_gpu_forloop.cc
  cinn/optim/transform_gpu_forloop.h
  cinn/poly/stage.cc
Due: clang-format-with-version-check, copyright_checker

Reduce the unittest time.
  python/tests/ops/op_test.py
  python/tests/ops/test_elementwise_add_op.py
Due: copyright_checker

rename generated function name
  cinn/hlir/framework/graph_compiler.cc
  cinn/hlir/framework/graph_compiler.h
Due: clang-format-with-version-check, copyright_checker

Revert "fix x86 computeat (#559)"
  cinn/hlir/pe/schedule.cc
  cinn/lang/lower.cc
  cinn/lang/lower_impl.cc
  cinn/lang/lower_impl.h
  cinn/optim/CMakeLists.txt
  cinn/optim/compute_inline_expand.cc
  cinn/optim/optimize.cc
  cinn/optim/replace_var_with_expr.cc
  cinn/optim/replace_var_with_expr.h
  cinn/optim/transform_computeat_forloop.cc
  cinn/optim/transform_computeat_forloop.h
  cinn/optim/transform_gpu_forloop.cc
  cinn/optim/transform_gpu_forloop.h
  cinn/poly/stage.cc
Due: clang-format-with-version-check, copyright_checker

Improve the speed of computing relative error in op_test.
  python/tests/ops/op_test.py
  python/tests/ops/test_batch_norm_op.py
Due: copyright_checker

Reduce the unittest time. (#563)
  python/tests/ops/op_test.py
  python/tests/ops/test_elementwise_add_op.py
Due: copyright_checker

update test code
  python/tests/ops/op_test.py
  python/tests/ops/test_conv2d_op.py
Due: copyright_checker

fix test code
  python/tests/ops/test_conv2d_op.py
Due: copyright_checker

opt inference batch_norm (#562)
  cinn/frontend/interpreter.cc
  cinn/frontend/paddle_model_to_program.cc
  cinn/frontend/syntax.cc
  cinn/frontend/syntax.h
  cinn/hlir/framework/graph.cc
  cinn/hlir/framework/graph_compiler.h
  cinn/hlir/framework/node.h
  cinn/hlir/pass/CMakeLists.txt
  cinn/hlir/pass/alterlayout.cc
  cinn/hlir/pass/const_propagate.cc
  cinn/hlir/pass/const_propagate_test.cc
  cinn/hlir/pass/opfusion.cc
  cinn/hlir/pass/opfusion_test.cc
  cinn/hlir/pass/use_pass.h
Due: clang-format-with-version-check, copyright_checker

remove identity op because Paddle can support some input variables to be not necessary
  cinn/frontend/op_mappers/elementwise.cc
Due: clang-format-with-version-check, copyright_checker

Remove the macro used in header files. (#558)
  cinn/common/cinn_value.h
  cinn/hlir/framework/graph_compiler.cc
  cinn/hlir/framework/graph_compiler.h
  cinn/pybind/bind_utils.h
  cinn/runtime/cinn_runtime.cc
  cinn/runtime/cinn_runtime.h
  cinn/runtime/cuda/cuda_module.cc
  cinn/runtime/cuda/cuda_module.h
  cinn/runtime/cuda/cuda_util.cc
Due: clang-format-with-version-check, copyright_checker

fix conv2d test accuracy (#556)
  cinn/pybind/runtime.cc
  cinn/runtime/cuda/cuda_util.cc
  python/tests/ops/test_conv2d_op.py
Due: clang-format-with-version-check, copyright_checker

add comment and change function name
  cinn/hlir/framework/graph_compiler.cc
  cinn/hlir/framework/graph_compiler.h
Due: clang-format-with-version-check, copyright_checker

Revert "fix x86 computeat (#559)" (#564)
  cinn/hlir/pe/schedule.cc
  cinn/lang/lower.cc
  cinn/lang/lower_impl.cc
  cinn/lang/lower_impl.h
  cinn/optim/CMakeLists.txt
  cinn/optim/compute_inline_expand.cc
  cinn/optim/optimize.cc
  cinn/optim/replace_var_with_expr.cc
  cinn/optim/replace_var_with_expr.h
  cinn/optim/transform_computeat_forloop.cc
  cinn/optim/transform_computeat_forloop.h
  cinn/optim/transform_gpu_forloop.cc
  cinn/optim/transform_gpu_forloop.h
  cinn/poly/stage.cc
Due: clang-format-with-version-check, copyright_checker

Use rsqrt + mul instead of sqrt + div in batch_norm_decomposer.
  cinn/frontend/decomposer/batch_norm.cc
  cinn/lang/builtin.cc
  cinn/lang/builtin.h
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
  cinn/runtime/cuda/cuda_intrinsics.cc
Due: clang-format-with-version-check, copyright_checker

Enhance the decomposer of batch_norm_grad.
  cinn/frontend/decomposer/batch_norm.cc
  python/tests/ops/op_test.py
  python/tests/ops/test_batch_norm_op.py
Due: clang-format-with-version-check, copyright_checker

rename op function name to fix kernel ptr overwrite (#560)
  cinn/hlir/framework/graph_compiler.cc
  cinn/hlir/framework/graph_compiler.h
Due: clang-format-with-version-check, copyright_checker

fix the error when compiling infrt separately
  CMakeLists.txt
Due: none

Fix the output order of batch_norm opmapper and add some print of debug info in net_builder.
  cinn/frontend/net_builder.cc
  cinn/frontend/net_builder.h
  cinn/frontend/op_mappers/batchnorm.cc
  cinn/pybind/frontend.cc
Due: clang-format-with-version-check, copyright_checker

fix test code
  cinn/hlir/framework/instruction_test.cc
Due: clang-format-with-version-check, copyright_checker

Add Conv2d Grad Op Mapper (#552)
  cinn/frontend/cinn_builder.cc
  cinn/frontend/cinn_builder.h
  cinn/frontend/decomposer/conv2d_grad.cc
  cinn/frontend/decomposer/use_decomposer.h
  cinn/frontend/op_mappers/conv2d.cc
  cinn/hlir/framework/instruction_test.cc
  cinn/hlir/op/nn.cc
  cinn/pybind/frontend.cc
Due: clang-format-with-version-check, copyright_checker

add relu_grad and elementwise_add_grad op_mapper (#549)
  cinn/frontend/op_mappers/elementwise.cc
  cinn/frontend/op_mappers/relu.cc
Due: clang-format-with-version-check, copyright_checker

Conrrect the output order in batch_norm's op_mapper and add reduce_sum to net_builder.
  cinn/frontend/net_builder.cc
  cinn/frontend/net_builder.h
  cinn/frontend/op_mappers/batchnorm.cc
  cinn/pybind/frontend.cc
Due: clang-format-with-version-check, copyright_checker

Polish some codes.
  cinn/frontend/decomposer/batch_norm.cc
  cinn/frontend/net_builder.cc
  cinn/frontend/net_builder.h
  cinn/pybind/frontend.cc
  cinn/runtime/cuda/cuda_util.cc
Due: clang-format-with-version-check, copyright_checker

Fix the register bug of ExternFunctionEmitter & use lock in RegisterVar.
  cinn/backends/codegen_c.cc
  cinn/backends/codegen_cuda_host.cc
  cinn/backends/extern_func_emitter.cc
  cinn/backends/extern_func_emitter.h
  cinn/backends/extern_func_jit_register.cc
  cinn/backends/llvm/codegen_llvm.cc
  cinn/backends/llvm/runtime_symbol_registry.h
  cinn/common/arithmatic.cc
Due: clang-format-with-version-check, copyright_checker

Enable lock in the ginac lib operation.
  cinn/common/arithmatic.cc
Due: clang-format-with-version-check, copyright_checker

Conrrect the output order in batch_norm's op_mapper and add reduce_sum to net_builder. (#566)
  cinn/frontend/net_builder.cc
  cinn/frontend/net_builder.h
  cinn/frontend/op_mappers/batchnorm.cc
  cinn/pybind/frontend.cc
Due: clang-format-with-version-check, copyright_checker

fix element reduce fusion
  cinn/hlir/framework/graph_compiler.cc
  cinn/hlir/op/reduction.cc
Due: clang-format-with-version-check, copyright_checker

fix the error when compiling infrt separately (#565)
  CMakeLists.txt
Due: none

add vars' modulo simplification and other optimizations
  cinn/backends/llvm/codegen_llvm.cc
  cinn/hlir/pe/schedule.cc
  cinn/optim/CMakeLists.txt
  cinn/optim/var_mod_simplify.cc
  cinn/optim/var_mod_simplify.h
Due: clang-format-with-version-check, copyright_checker

enhance cuda codegen
  cinn/backends/codegen_cuda_dev.cc
  cinn/backends/codegen_cuda_dev.h
  cinn/backends/codegen_cuda_dev_test.cc
  tools/paddle_benchmark/paddle_test_benchmark.py
Due: clang-format-with-version-check, copyright_checker
