Repository PaddlePaddle/CINN: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

update reduce split strategy
  cinn/hlir/framework/op_lowering_util.cc
  cinn/hlir/pass/reduce_split_pass.cc
Due: clang-format-with-version-check, copyright_checker

fix scatter op extern func name error bug (#1436)
  CMakeLists.txt
  cinn/backends/CMakeLists.txt
  cinn/backends/codegen_cuda_dev.cc
  cinn/backends/codegen_cuda_dev.h
  cinn/backends/codegen_cuda_generate_test.cc
  cinn/backends/codegen_debug_test.cc
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
  cinn/runtime/cuda/cuda_instrinsics_float16.cc
  cinn/runtime/cuda/cuda_intrinsics.cc
Due: clang-format-with-version-check, copyright_checker

fix log
  cinn/hlir/pass/reduce_split_pass.cc
Due: clang-format-with-version-check, copyright_checker

unittest for split op
  python/tests/ops/test_split_op.py
Due: copyright_checker

Support all padding_algorithms and adaptive mode in pool2d forward
  cinn/frontend/net_builder.h
  cinn/hlir/op/custom_call.cc
  cinn/hlir/op/nn.cc
  cinn/runtime/cuda/cuda_util.cc
Due: clang-format-with-version-check, copyright_checker

fix cas SimplifyFracOp bug
  cinn/common/cas.cc
  cinn/common/cas_test.cc
Due: clang-format-with-version-check, copyright_checker

Fix typos (#1425)
  cinn/auto_schedule/database/database.cc
  cinn/auto_schedule/measure/measure.h
  cinn/auto_schedule/measure/schedule_measurer.cc
  cinn/auto_schedule/search_space/block_sampler.cc
  cinn/auto_schedule/search_space/rule_sampler.cc
  cinn/auto_schedule/task/task_optimizer.cc
  cinn/auto_schedule/task/tune_task.cc
  cinn/auto_schedule/task_scheduler/task_scheduler.cc
  cinn/backends/codegen_c.cc
  cinn/backends/codegen_c.h
Due: clang-format-with-version-check, copyright_checker

fix some pass bug
  cinn/hlir/op/op_util.h
  cinn/hlir/op/transform.cc
  cinn/hlir/pass/constant_folding_pass_util.cc
Due: clang-format-with-version-check, copyright_checker

Fix padding SAME bugs in pool2d
  cinn/hlir/op/custom_call.cc
  cinn/hlir/op/nn.cc
Due: clang-format-with-version-check, copyright_checker

cmake add WITH_OPENMP flag to avoid compile error
  cinn/backends/CMakeLists.txt
  cinn/backends/ir_schedule_test.cc
  cinn/runtime/CMakeLists.txt
  cinn/runtime/cpu/thread_backend.cc
  cinn/runtime/cpu/thread_backend.h
  cmake/external/openmp.cmake
Due: clang-format-with-version-check, copyright_checker

fix bug in UpdateInputToConsumers
  cinn/hlir/pass/fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

add vectorized==4 config
  cinn/common/float16.h
  cinn/optim/vectorize_loops.cc
Due: clang-format-with-version-check, copyright_checker

add vectorized==4 config
  cinn/common/float16.h
Due: clang-format-with-version-check, copyright_checker

register tan op for fp16 and bp16
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
  cinn/runtime/cuda/cuda_instrinsics_bfloat16.cc
  cinn/runtime/cuda/cuda_instrinsics_float16.cc
Due: clang-format-with-version-check, copyright_checker

[Perf]Add FLAGS for profiler to easily enable nvtx event for Nsight (#1431)
  cinn/hlir/framework/instruction.cc
  cinn/runtime/cuda/cuda_module.cc
  cinn/runtime/cuda/cuda_util.cc
  cinn/runtime/flags.cc
  cinn/utils/profiler.cc
  cinn/utils/profiler.h
Due: clang-format-with-version-check, copyright_checker

reconstruct constant folding pass
  cinn/hlir/pass/CMakeLists.txt
  cinn/hlir/pass/constant_folding_pass_util.cc
  cinn/hlir/pass/constant_folding_pass_util.h
Due: clang-format-with-version-check, copyright_checker

Support padding_algorithm in pool2d_grad
  cinn/hlir/op/custom_call.cc
Due: clang-format-with-version-check, copyright_checker

Fix global_pooling bug in pool2d and pool2d_grad
  cinn/hlir/op/custom_call.cc
Due: clang-format-with-version-check, copyright_checker

[Perf]Polish PassPrinter default behavior
  cinn/hlir/framework/visualize_helper.cc
Due: clang-format-with-version-check, copyright_checker

fix some ci bug
  cinn/auto_schedule/post_schedule_rule/cooperative_process_test.cc
  cinn/auto_schedule/search_space/auto_gen_rule/multi_level_tiling_test.cc
  cinn/hlir/framework/graph.cc
  cinn/hlir/framework/graph_compiler.cc
Due: clang-format-with-version-check, copyright_checker

Compiled
  cinn/auto_schedule/cost_model/feature_extractor.cc
  cinn/backends/codegen_c.cc
  cinn/backends/llvm/codegen_llvm.cc
  cinn/common/type.cc
  cinn/common/type.h
  cinn/hlir/framework/op_lowering.cc
  cinn/hlir/framework/op_lowering_util.cc
  cinn/hlir/framework/op_lowering_util.h
  cinn/ir/ir.cc
  cinn/ir/ir.h
  cinn/ir/ir_base.h
  cinn/ir/ir_printer.cc
  cinn/ir/ir_schedule.cc
  cinn/ir/lowered_func.cc
  cinn/ir/lowered_func.h
Due: clang-format-with-version-check, copyright_checker

fix bugs
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
Due: none

[Update paddle] CI update paddle version, 2.4.2->develop
  build.sh
  python/tests/conv2d_utils.py
  python/tests/fake_model/naive_mul.py
  python/tests/fake_model/naive_multi_fc.py
  python/tests/fake_model/resnet_model.py
  python/tests/op_mappers/op_mapper_test.py
  python/tests/ops/test_conv2d_op.py
  python/tests/test_computation.py
  python/tests/test_efficientnet.py
  python/tests/test_facedet.py
  python/tests/test_frontend.py
  python/tests/test_mobilenetv1.py
  python/tests/test_mobilenetv2.py
  python/tests/test_netbuilder.py
  python/tests/test_op_benchmark.py
  python/tests/test_op_nn.py
  python/tests/test_op_transform.py
  python/tests/test_paddle_model_convertor.py
  python/tests/test_resnet.py
  python/tests/test_resnet18.py
  python/tests/test_resnet50.py
  python/tests/test_squeezenet.py
  tools/paddle_benchmark/paddle_save_model.py
  tools/paddle_benchmark/test_paddle_ops.py
Due: copyright_checker

Tidy code and bug fix
  cinn/frontend/net_builder.h
  cinn/hlir/op/nn.cc
  cinn/pybind/frontend.cc
  python/tests/op_mappers/test_pool2d_op.py
  python/tests/ops/test_pool2d_op.py
Due: clang-format-with-version-check, copyright_checker

Version before debug
  cinn/backends/codegen_cuda_dev.cc
  cinn/ir/lowered_func.cc
  cinn/ir/lowered_func.h
Due: clang-format-with-version-check, copyright_checker

disable paddle temporarily
  python/tests/ops/op_test.py
  python/tests/ops/test_zero_dim_tensor.py
Due: copyright_checker

revert ir_schedule modify
  cinn/auto_schedule/post_schedule_rule/cooperative_process_test.cc
  cinn/auto_schedule/search_space/auto_gen_rule/multi_level_tiling_test.cc
  cinn/auto_schedule/search_strategy/mutate_rule/mutate_tile_size_test.cc
  cinn/backends/ir_schedule_test.cc
  cinn/ir/ir_schedule.cc
  cinn/ir/schedule_desc_test.cc
Due: clang-format-with-version-check, copyright_checker

fix unitest
  cinn/hlir/framework/op_lowering_util.cc
  cinn/hlir/pass/fusion_merge_pass.cc
  cinn/hlir/pass/fusion_merge_pass_test.cc
  cinn/hlir/pass/reduce_split_pass.cc
Due: clang-format-with-version-check, copyright_checker

fix some test bug
  cinn/hlir/pass/common_subexpression_elimination_test.cc
Due: clang-format-with-version-check, copyright_checker

Add Op UniTest for acos (#1430)
  python/tests/ops/test_acos_op.py
Due: copyright_checker

fix bugs
  python/tests/ops/test_unary_elementwise_op.py
Due: copyright_checker

[Perf]Polish PassPrinter default behavior (#1442)
  cinn/hlir/framework/visualize_helper.cc
Due: clang-format-with-version-check, copyright_checker

Restore paddle version in this PR
  build.sh
Due: copyright_checker

feat(reduction): support warp reduce (#1354)
  cinn/common/target.cc
  cinn/common/target.h
  cinn/frontend/net_builder.cc
  cinn/hlir/framework/op_lowering_test.cc
  cinn/hlir/framework/op_lowering_util.cc
  cinn/hlir/op/reduction_test.cc
  cinn/hlir/pe/reduction.cc
Due: clang-format-with-version-check, copyright_checker

cmake add WITH_OPENMP flag to avoid compile error (#1438)
  cinn/backends/CMakeLists.txt
  cinn/backends/ir_schedule_test.cc
  cinn/runtime/CMakeLists.txt
  cinn/runtime/cpu/thread_backend.cc
  cinn/runtime/cpu/thread_backend.h
  cmake/external/openmp.cmake
Due: clang-format-with-version-check, copyright_checker

tmp
  cinn/optim/transform_gpu_forloop.cc
Due: clang-format-with-version-check, copyright_checker

add ut
  test_group_62.py
Due: copyright_checker

Unify padding and kernel update process
  cinn/frontend/net_builder.cc
  cinn/hlir/op/custom_call.cc
  cinn/hlir/op/nn.cc
Due: clang-format-with-version-check, copyright_checker

organize files
  python/tests/ops/test_asin_op.py
  python/tests/ops/test_cos_op.py
  python/tests/ops/test_cosh_op.py
  python/tests/ops/test_sin_op.py
  python/tests/ops/test_sinh_op.py
  python/tests/ops/test_tan_op.py
  python/tests/ops/test_tanh_op.py
  python/tests/ops/test_unary_elementwise_op.py
Due: copyright_checker

Fix 0D-Tensor unittest, update unittest framework
  python/tests/op_mappers/op_mapper_test.py
  python/tests/ops/op_test.py
  python/tests/ops/test_matmul_op.py
Due: copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$, but not: (?x)^(
    infrt/.*
)$

