Repository PaddlePaddle/CINN: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

fix clang format
  cinn/runtime/cuda/cuda_instrinsics_bfloat16.cc
Due: clang-format-with-version-check, copyright_checker

add logical_and test
  python/tests/ops/test_logical_and_op.py
Due: copyright_checker

fix(fuse): fix CanbeInline condition
  cinn/hlir/framework/op_lowering.cc
  cinn/hlir/framework/op_lowering_util.cc
  cinn/hlir/framework/op_lowering_util.h
Due: clang-format-with-version-check, copyright_checker

add op unitest for logical_or
  python/tests/ops/test_logical_or_op.py
Due: copyright_checker

Add Op UniTest for logical_xor
  python/tests/ops/test_logical_xor_op.py
Due: copyright_checker

set parse support and fix param load
  cinn/pybind/frontend.cc
  python/CMakeLists.txt
  python/tests/test_paddle_model_convertor.py
Due: clang-format-with-version-check, copyright_checker

fix
  python/tests/ops/test_expand_dims.py
Due: copyright_checker

Add Op UnitTest for floor_divide (#1387)
  python/tests/ops/test_floor_divide_op.py
Due: copyright_checker

Fix reduce result error when keepdim = True
  cinn/hlir/pe/ir_schedule_pe.cc
  python/tests/ops/test_reduce_op_new.py
  python/tests/ops/test_reduce_op_other.py
Due: clang-format-with-version-check, copyright_checker

add bf16 cublas support
  cinn/runtime/cuda/cublas_util.h
  cinn/runtime/cuda/cuda_intrinsics.cc
  cinn/runtime/cuda/cuda_intrinsics_reduce.cc
  python/setup.py.in
  python/tests/ops/op_test.py
Due: clang-format-with-version-check, copyright_checker

fix test case
  python/tests/ops/test_logical_xor_op.py
Due: copyright_checker

add gather tests
  python/tests/ops/test_gather_op.py
Due: copyright_checker

add more gather tests
  python/tests/ops/test_gather_op.py
Due: copyright_checker

add gather_nd tests
  python/tests/ops/test_gather_nd_op.py
Due: copyright_checker

fix
  python/tests/ops/test_broadcast_to_op_new.py
Due: copyright_checker

[CodeRefine]Polish CallExtern/Lowered Interface argument naming to avoid disambiguation (#1395)
  cinn/lang/compute.cc
  cinn/lang/compute.h
Due: clang-format-with-version-check, copyright_checker

feat(fuse): support vertical reduce fuse reduce
  cinn/hlir/pass/fusion_merge_pass.cc
  cinn/hlir/pass/fusion_merge_pass_util.h
  cinn/hlir/pass/op_fusion_pass.cc
Due: clang-format-with-version-check, copyright_checker

feat(fusion): reduce fusion reduce
  cinn/hlir/pass/fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

add fusion python test utils (#1391)
  cinn/frontend/optimize.cc
  cinn/frontend/optimize.h
  cinn/pybind/frontend.cc
  python/CMakeLists.txt
  python/tests/fusion/fusion_test.py
  python/tests/fusion/test_cast_broadcast_reduce_max.py
  python/tests/passes/pass_test.py
Due: clang-format-with-version-check, copyright_checker

fix ci bug
  cinn/pybind/frontend.cc
  python/CMakeLists.txt
Due: clang-format-with-version-check, copyright_checker

Update install.md (#1368)
  docs/source/install.md
Due: none

test(fusion): fix fusion_merge_pass according to new fusion rule
  cinn/hlir/pass/fusion_merge_pass_test.cc
Due: clang-format-with-version-check, copyright_checker

split test case
  python/tests/ops/test_cast_op.py
  python/tests/ops/test_scale_op.py
Due: copyright_checker

fix op all test ci not report failed bug
  python/tests/ops/op_test_helper.py
Due: copyright_checker

fix ci not report test failed bug
  python/tests/test_paddle_model_convertor.py
Due: copyright_checker

format
  cinn/frontend/op_mappers/paddle/matmul.cc
  python/tests/op_mappers/test_matmul_op.py
Due: clang-format-with-version-check, copyright_checker

fix simple compute at
  cinn/ir/ir_schedule.cc
Due: clang-format-with-version-check, copyright_checker

op unittest for slice_assign
  python/tests/ops/test_slice_assign_op.py
Due: copyright_checker

add paddle.disable_static()
  python/tests/ops/test_gather_op.py
Due: copyright_checker

op unittest for slice
  python/tests/ops/test_slice_op.py
Due: copyright_checker

add comments to parameter: decrease_axis
  cinn/frontend/net_builder.h
Due: clang-format-with-version-check, copyright_checker

Bitwise_and support type bool, uint8, int8 and int16
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
  cinn/runtime/cuda/cuda_intrinsics.cc
Due: clang-format-with-version-check, copyright_checker

optimize reduce
  cinn/common/target.cc
  cinn/hlir/framework/op_lowering_util.cc
  cinn/hlir/pe/nn_util.cc
Due: clang-format-with-version-check, copyright_checker

fix test_paddle_model_convertor cannot run directly bug (#1394)
  cinn/pybind/frontend.cc
  python/CMakeLists.txt
  python/tests/op_mappers/op_mapper_test.py
  python/tests/ops/test_cast_op.py
  python/tests/ops/test_scale_op.py
  python/tests/test_paddle_model_convertor.py
Due: clang-format-with-version-check, copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$, but not: (?x)^(
    infrt/.*
)$

