Repository PaddlePaddle/CINN: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    sha: v1.0.1
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    sha: 5bf6c09bfa1297d3692cadd621ef95f1284e33c0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./tools/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
#-   repo: local
#    hooks:
#    -   id: cpplint-cpp-source
#        name: cpplint
#        description: Check C++ code style using cpplint.py.
#        entry: bash ./tools/codestyle/cpplint_pre_commit.hook
#        language: system
#        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: check-added-large-files
        args: [--maxkb=500]

# -   repo: https://github.com/pre-commit/pre-commit-hooks
#     rev: v1.2.3
#     hooks:
#     - id: flake8

-   repo: https://github.com/pre-commit/mirrors-yapf.git
    rev: v0.26.0
    hooks:
    - id: yapf
      args: ['--parallel', '--in-place']

-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$
        exclude: |
            (?x)^(
                infrt/.*
            )$

Add opMapper for one_hot_v2
  cinn/frontend/op_mappers/paddle/one_hot.cc
  cinn/frontend/op_mappers/use_op_mappers.h
  cinn/pybind/frontend.cc
  python/tests/ops/test_one_hot_op.py
Due: clang-format-with-version-check, copyright_checker

Fix bug and add unit test
  cinn/hlir/pe/ir_schedule_pe.cc
  python/tests/test_netbuilder.py
Due: clang-format-with-version-check, copyright_checker

Reformat code
  python/tests/test_netbuilder.py
Due: copyright_checker

Move test case to test_reduce_op
  python/tests/ops/test_reduce_op.py
  python/tests/test_netbuilder.py
Due: copyright_checker

fix compilation in manylinux docker
  cinn/backends/llvm/CMakeLists.txt
  cinn/common/float16.h
Due: clang-format-with-version-check, copyright_checker

refine
  cinn/frontend/op_mappers/paddle/slice.cc
Due: clang-format-with-version-check, copyright_checker

set python ahead
  CMakeLists.txt
Due: none

update dense merge pass
  cinn/hlir/pass/dense_merge_pass.cc
  cinn/hlir/pass/dense_merge_pass_test.cc
Due: clang-format-with-version-check, copyright_checker

register batched cublas
  cinn/runtime/cuda/cuda_intrinsics.cc
Due: clang-format-with-version-check, copyright_checker

add external_api registry for op to unify custom_call
  cinn/frontend/optimize.cc
  cinn/hlir/framework/op_lowering.cc
  cinn/hlir/op/CMakeLists.txt
  cinn/hlir/op/custom_call.cc
  cinn/hlir/op/external_api_registry.cc
  cinn/hlir/op/external_api_registry.h
  cinn/hlir/op/external_api_registry_test.cc
  cinn/hlir/op/use_ops.h
  cinn/hlir/pass/CMakeLists.txt
  cinn/hlir/pass/custom_call_pass.cc
  cinn/hlir/pass/mark_custom_call_pass.cc
  cinn/hlir/pass/use_pass.h
  cinn/runtime/flags.cc
Due: clang-format-with-version-check, copyright_checker

Fix reduce_mean bug in ir_schedule loop split (#1173)
  cinn/hlir/pe/ir_schedule_pe.cc
  python/tests/ops/test_reduce_op.py
Due: clang-format-with-version-check, copyright_checker

fix compilation in manylinux docker (#1174)
  CMakeLists.txt
  cinn/backends/llvm/CMakeLists.txt
  cinn/common/float16.h
Due: clang-format-with-version-check, copyright_checker

consider no custom_call_excluded_ops attr
  cinn/hlir/pass/mark_custom_call_pass.cc
Due: clang-format-with-version-check, copyright_checker

update precompiled llvm with glibc2.17
  CMakeLists.txt
  cmake/external/llvm.cmake
Due: none

add annotation
  cinn/frontend/optimize.cc
  cinn/hlir/framework/op_lowering.cc
  cinn/hlir/op/external_api_registry.cc
  cinn/hlir/op/external_api_registry.h
  cinn/hlir/pass/mark_custom_call_pass.cc
Due: clang-format-with-version-check, copyright_checker

refine
  cinn/hlir/op/transform.cc
Due: clang-format-with-version-check, copyright_checker

add AutoCastPass for precision sensitive operator
  cinn/frontend/decomposer/batch_norm.cc
  cinn/frontend/optimize.cc
  cinn/frontend/pass/CMakeLists.txt
  cinn/frontend/pass/auto_cast.cc
  cinn/frontend/pass/use_program_pass.h
Due: clang-format-with-version-check, copyright_checker

fix slice (#1175)
  cinn/frontend/net_builder.cc
  cinn/frontend/net_builder.h
  cinn/frontend/op_mappers/paddle/slice.cc
  cinn/hlir/op/transform.cc
  cinn/hlir/pass/dot_merger.cc
  cinn/pybind/frontend.cc
Due: clang-format-with-version-check, copyright_checker

Add opMapper for one_hot_v2 (#1178)
  cinn/frontend/op_mappers/paddle/one_hot.cc
  cinn/frontend/op_mappers/use_op_mappers.h
  cinn/pybind/frontend.cc
  python/tests/ops/test_one_hot_op.py
Due: clang-format-with-version-check, copyright_checker

fix unittest failed due to matmul pass removed
  cinn/frontend/pass/pass_test_helper.h
  cinn/hlir/framework/graph_compiler_test.cc
  cinn/hlir/framework/op_lowering.cc
  cinn/hlir/framework/op_lowering_test.cc
Due: clang-format-with-version-check, copyright_checker

hot fix the absolute path problem of libtinfo.so
  cmake/external/llvm.cmake
Due: none

fixes a bug in reduce scheduler
  cinn/hlir/pe/ir_schedule_pe.cc
  python/tests/ops/test_reduce_op.py
Due: clang-format-with-version-check, copyright_checker

compatiable to use custom call op
  cinn/hlir/framework/op_lowering.cc
Due: clang-format-with-version-check, copyright_checker

revert libcuda.so
  CMakeLists.txt
  cmake/external/llvm.cmake
Due: none

update precompiled llvm with glibc2.17 (#1179)
  cmake/external/llvm.cmake
Due: none

fixes a bug in reduce scheduler (#1176)
  cinn/hlir/pe/ir_schedule_pe.cc
  python/tests/ops/test_reduce_op.py
Due: clang-format-with-version-check, copyright_checker

fix a Type:VectorOf bug
  infrt/common/type.cc
Due: clang-format-with-version-check

fix dense merge
  cinn/hlir/pass/dense_merge_pass.cc
  cinn/hlir/pass/dense_merge_pass_test.cc
Due: clang-format-with-version-check, copyright_checker

add auto_cast test and fix some bug
  cinn/frontend/op_mappers/paddle/layer_norm.cc
  cinn/frontend/pass/CMakeLists.txt
  cinn/frontend/pass/auto_cast.cc
  cinn/frontend/pass/auto_cast_test.cc
  cinn/frontend/pass/cast_collapsing.cc
  cinn/frontend/pass/cast_collapsing_test.cc
  cinn/frontend/pass/pass_test_helper.h
  cinn/frontend/pass/transpose_collapsing.cc
Due: clang-format-with-version-check, copyright_checker

fix a Type:VectorOf bug (#1181)
  infrt/common/type.cc
Due: clang-format-with-version-check

fix ci bug
  cinn/frontend/pass/transpose_collapsing_test.cc
Due: clang-format-with-version-check, copyright_checker

fix elementwise fuse injective with bbroadcast
  cinn/hlir/pass/op_fusion_pass.cc
  cinn/hlir/pass/op_fusion_pass_test.cc
  cinn/hlir/pass/op_fusion_pass_util.h
Due: clang-format-with-version-check, copyright_checker

add python pass test script
  cinn/pybind/common.cc
  cinn/pybind/frontend.cc
  python/CMakeLists.txt
  python/tests/passes/pass_test.py
  python/tests/passes/test_auto_cast.py
Due: clang-format-with-version-check, copyright_checker

fix slice not support decrease_axis bug
  cinn/hlir/op/transform.cc
  cinn/hlir/pe/transform.cc
  cinn/hlir/pe/transform.h
  python/tests/ops/test_slice_op.py
Due: clang-format-with-version-check, copyright_checker

fix cmake bug
  python/CMakeLists.txt
Due: none

test with cuda
  cinn/hlir/pass/CMakeLists.txt
  cinn/hlir/pass/dense_merge_pass_test.cc
Due: clang-format-with-version-check, copyright_checker

fix pe::compute bug
  cinn/hlir/pe/transform.cc
Due: clang-format-with-version-check, copyright_checker

fix unittest
  cinn/frontend/optimize.cc
  cinn/hlir/framework/op_lowering.cc
  cinn/hlir/op/external_api_registry.cc
  cinn/hlir/pass/mark_custom_call_pass.cc
  cinn/runtime/flags.cc
Due: clang-format-with-version-check, copyright_checker

fix test_external_api_registry
  cinn/hlir/op/external_api_registry_test.cc
Due: clang-format-with-version-check, copyright_checker

fix elementwise fuse injective with bbroadcast (#1182)
  cinn/hlir/pass/op_fusion_pass.cc
  cinn/hlir/pass/op_fusion_pass_test.cc
  cinn/hlir/pass/op_fusion_pass_util.h
Due: clang-format-with-version-check, copyright_checker
