Repository PaddlePaddle/CINN: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    sha: v1.0.1
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    sha: 5bf6c09bfa1297d3692cadd621ef95f1284e33c0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./tools/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
#-   repo: local
#    hooks:
#    -   id: cpplint-cpp-source
#        name: cpplint
#        description: Check C++ code style using cpplint.py.
#        entry: bash ./tools/codestyle/cpplint_pre_commit.hook
#        language: system
#        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: check-added-large-files
        args: [--maxkb=500]

# -   repo: https://github.com/pre-commit/pre-commit-hooks
#     rev: v1.2.3
#     hooks:
#     - id: flake8

-   repo: https://github.com/pre-commit/mirrors-yapf.git
    rev: v0.26.0
    hooks:
    - id: yapf
      args: ['--parallel', '--in-place']

-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$
        exclude: |
            (?x)^(
                infrt/.*
            )$

fix transpose scale fold pass shape error bug (#1244)
  cinn/frontend/pass/transpose_folding_base.h
  cinn/frontend/pass/transpose_folding_input.cc
  cinn/frontend/pass/transpose_folding_output.cc
  cinn/frontend/pass/transpose_scale_folding_test.cc
  cinn/pybind/frontend.cc
  python/tests/passes/pass_test.py
  python/tests/passes/test_auto_cast_pass.py
  python/tests/passes/test_transpose_floding_input_pass.py
  python/tests/passes/test_transpose_floding_output_pass.py
Due: clang-format-with-version-check, copyright_checker

fix reduce may has no out_dtype bug
  cinn/frontend/op_mappers/paddle/reduce.cc
Due: clang-format-with-version-check, copyright_checker

format code
  python/tests/op_mappers/test_clip_op.py
Due: copyright_checker

fix parse dtype error
  python/tests/op_mappers/test_argmax_op.py
Due: copyright_checker

ir printer LOG(WARNING)
  cinn/ir/ir_printer.cc
Due: clang-format-with-version-check, copyright_checker

Init op test enhance
  python/tests/ops/op_test.py
  python/tests/ops/op_tester.py
Due: copyright_checker

fix attrs type error
  cinn/frontend/op_mappers/paddle/argmax.cc
Due: clang-format-with-version-check, copyright_checker

fix transpose and gather_nd bug
  cinn/frontend/net_builder.cc
  cinn/frontend/op_mappers/common_utils.h
  cinn/hlir/op/contrib/gather_nd.cc
  cinn/hlir/op/elementwise.cc
  cinn/hlir/op/op_util.cc
  cinn/hlir/op/op_util.h
  cinn/hlir/pe/elementwise.cc
  cinn/utils/functional.cc
  cinn/utils/functional.h
  python/tests/ops/test_gather_nd_op.py
  python/tests/ops/test_transpose_op.py
Due: clang-format-with-version-check, copyright_checker

add mutate in EvolutionarySearch
  cinn/auto_schedule/cost_model/expr_cost_model.h
  cinn/auto_schedule/search_strategy/evolutionary_search.cc
  cinn/auto_schedule/search_strategy/evolutionary_search.h
  cinn/auto_schedule/search_strategy/evolutionary_search_test.cc
  cinn/auto_schedule/search_strategy/mutate_rule/CMakeLists.txt
  cinn/auto_schedule/search_strategy/mutate_rule/mutate_rule.cc
  cinn/auto_schedule/search_strategy/mutate_rule/mutate_rule.h
Due: clang-format-with-version-check, copyright_checker

add annotation for OptimizeExprGPU
  cinn/auto_schedule/search_space/auto_gen_rule/add_cache_write.cc
  cinn/optim/transform_gpu_forloop.cc
Due: clang-format-with-version-check, copyright_checker

fix attr type error
  cinn/frontend/op_mappers/paddle/argmax.cc
Due: clang-format-with-version-check, copyright_checker

update auto_bind name and fix feature_extractor bug in expr not defined()
  cinn/auto_schedule/cost_model/feature_extractor.cc
  cinn/auto_schedule/search_space/auto_gen_rule/auto_bind.cc
  cinn/auto_schedule/search_space/auto_gen_rule/auto_bind_test.cc
Due: clang-format-with-version-check, copyright_checker

fix net_builder_test for argsort
  cinn/frontend/net_builder_test.cc
Due: clang-format-with-version-check, copyright_checker

fix attr error
  cinn/frontend/op_mappers/paddle/argmax.cc
  python/tests/op_mappers/test_argmax_op.py
Due: clang-format-with-version-check, copyright_checker

fix double number had cur off bug
  cinn/auto_schedule/search_space/auto_gen_rule/auto_inline_test.cc
  cinn/auto_schedule/search_space/search_state_test.cc
  cinn/auto_schedule/search_strategy/mutate_rule/mutate_tile_size_test.cc
  cinn/backends/codegen_c_test.cc
  cinn/backends/codegen_cuda_dev_test.cc
  cinn/backends/codegen_debug_test.cc
  cinn/backends/ir_schedule_test.cc
  cinn/common/cas_test.cc
  cinn/frontend/net_builder.cc
  cinn/frontend/net_builder.h
  cinn/frontend/op_mappers/paddle/constant.cc
  cinn/frontend/pass/fill_constant_folding.cc
  cinn/frontend/pass/fill_constant_rewriter.cc
  cinn/hlir/framework/visualize_helper.cc
  cinn/hlir/framework/visualize_helper.h
  cinn/hlir/op/elementwise.cc
  cinn/ir/ir_compare_test.cc
  cinn/ir/ir_printer.cc
  cinn/ir/tensor_test.cc
  cinn/lang/lower_test.cc
  cinn/optim/cache_read_write_replace_test.cc
  cinn/optim/ir_simplify_test.cc
  cinn/optim/optimize_test.cc
  cinn/optim/remove_nested_block_test.cc
  cinn/optim/remove_schedule_block_test.cc
  cinn/optim/transform_polyfor_to_for_test.cc
  cinn/optim/vectorize_loops_test.cc
  cinn/poly/schedule_test.cc
  cinn/poly/stage_test.cc
  cinn/pybind/frontend.cc
  cinn/utils/string.cc
  cinn/utils/string.h
  python/tests/ops/test_fill_constant_op.py
Due: clang-format-with-version-check, copyright_checker

add some CHECKs in mutate_tile_size_test
  cinn/auto_schedule/search_strategy/mutate_rule/mutate_tile_size_test.cc
Due: clang-format-with-version-check, copyright_checker

merge upstream & remove clip net builder test
  cinn/frontend/net_builder_test.cc
Due: clang-format-with-version-check, copyright_checker

fix layer_norm opmapper fp16 dtype error bug (#1257)
  cinn/frontend/op_mappers/paddle/layer_norm.cc
  python/tests/op_mappers/op_mapper_test.py
  python/tests/op_mappers/test_layer_norm_op.py
Due: clang-format-with-version-check, copyright_checker

fix test double number percision bug
  cinn/optim/ir_simplify_test.cc
  python/tests/test_common.py
  tutorials/matmul.cc
Due: clang-format-with-version-check, copyright_checker

log fatal
  cinn/ir/ir_printer.cc
Due: clang-format-with-version-check, copyright_checker

fix reduce out_dtype attribute default value should be -1 bug
  cinn/frontend/op_mappers/paddle/elementwise.cc
  cinn/frontend/op_mappers/paddle/reduce.cc
Due: clang-format-with-version-check, copyright_checker

fix FLAGS_cinn_fusion_groups_graphviz_dir useless bug
  cinn/hlir/framework/graph_compiler.cc
Due: clang-format-with-version-check, copyright_checker

fix ci bug
  tutorials/matmul.cc
Due: clang-format-with-version-check, copyright_checker

Simplify loop at the Simplify function to fix some ci tests
  cinn/optim/ir_simplify.cc
Due: clang-format-with-version-check, copyright_checker

need ShiftsTensor as input
  cinn/frontend/op_mappers/paddle/roll.cc
  python/tests/op_mappers/test_roll_op.py
Due: clang-format-with-version-check, copyright_checker

remove print in op_mapper_test.py
  python/tests/op_mappers/op_mapper_test.py
Due: copyright_checker

Revert "log fatal"
  cinn/ir/ir_printer.cc
Due: clang-format-with-version-check, copyright_checker

remove log warning
  cinn/ir/ir_printer.cc
Due: clang-format-with-version-check, copyright_checker

fix cast constant frac simplify bug
  cinn/common/cas.cc
Due: clang-format-with-version-check, copyright_checker

Fix cache memory exceeding limit (#1245)
  cinn/auto_schedule/search_space/auto_gen_rule/add_cache_write.cc
  cinn/backends/ir_schedule_test.cc
  cinn/ir/ir.h
  cinn/ir/ir_schedule.cc
  cinn/optim/transform_gpu_forloop.cc
Due: clang-format-with-version-check, copyright_checker

Skip CPU test temporarily
  cinn/auto_schedule/search_strategy/evolutionary_search_test.cc
Due: clang-format-with-version-check, copyright_checker

demo
  cinn/frontend/op_mappers/paddle/strided_slice.cc
  cinn/frontend/op_mappers/use_op_mappers.h
  python/tests/op_mappers/test_strided_slice_op.py
Due: clang-format-with-version-check, copyright_checker

Replace literal constant for PR1245
  cinn/optim/transform_gpu_forloop.cc
Due: clang-format-with-version-check, copyright_checker

remove shiftstensor
  cinn/frontend/op_mappers/paddle/roll.cc
  python/tests/op_mappers/test_roll_op.py
Due: clang-format-with-version-check, copyright_checker

fix by review advices
  cinn/frontend/op_mappers/paddle/compare.cc
  cinn/frontend/op_mappers/paddle/reduce.cc
  cinn/frontend/op_mappers/paddle/scale.cc
Due: clang-format-with-version-check, copyright_checker

fix test error
  python/tests/op_mappers/test_argmax_op.py
Due: copyright_checker

add pr template
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Due: none

update
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Due: none

fix(op): fix compute and schedule func of argmax and argmin
  cinn/frontend/net_builder_test.cc
  cinn/hlir/op/contrib/argmax.cc
  cinn/hlir/op/contrib/argmax.h
  cinn/hlir/op/contrib/argmax_test.cc
  cinn/hlir/op/contrib/argmin.cc
  cinn/hlir/op/contrib/argmin.h
  cinn/hlir/op/contrib/argmin_test.cc
Due: clang-format-with-version-check, copyright_checker

update template name
  .github/PULL_REQUEST_TEMPLATE/operator.md
Due: none
