Repository PaddlePaddle/CINN: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

typo:
  .github/PULL_REQUEST_TEMPLATE/operator.md
Due: none

fix fill_constant unsupport float16 bug
  cinn/frontend/net_builder.cc
  python/tests/ops/test_fill_constant_op.py
Due: clang-format-with-version-check, copyright_checker

add special shape
  .github/PULL_REQUEST_TEMPLATE/operator.md
Due: none

Update cases builder method
  python/tests/ops/op_test.py
  python/tests/ops/op_tester.py
Due: copyright_checker

update title
  .github/PULL_REQUEST_TEMPLATE/operator.md
Due: none

try ShiftsTensor again
  cinn/frontend/op_mappers/paddle/roll.cc
  python/tests/op_mappers/op_mapper_test.py
Due: clang-format-with-version-check, copyright_checker

scale tensor need cast
  cinn/frontend/op_mappers/paddle/scale.cc
  python/tests/op_mappers/test_scale_op.py
Due: clang-format-with-version-check, copyright_checker

add op_mapper for argsort (#1251)
  cinn/frontend/decomposer/top_k.cc
  cinn/frontend/net_builder.cc
  cinn/frontend/net_builder.h
  cinn/frontend/net_builder_test.cc
  cinn/frontend/op_mappers/paddle/argsort.cc
  cinn/frontend/op_mappers/use_op_mappers.h
  cinn/hlir/op/contrib/sort.cc
  python/tests/op_mappers/test_argsort_op.py
Due: clang-format-with-version-check, copyright_checker

format
  .github/PULL_REQUEST_TEMPLATE/operator.md
Due: none

fix type error
  python/tests/op_mappers/test_argmax_op.py
Due: copyright_checker

Add example for test enhance
  python/tests/ops/op_test.py
  python/tests/ops/op_tester.py
  python/tests/ops/test_add_op_new.py
Due: copyright_checker

fix(op): fix schedule func of scatter and scatter_nd
  cinn/frontend/net_builder_test.cc
  cinn/hlir/op/contrib/scatter.cc
Due: clang-format-with-version-check, copyright_checker

[Profiler]Add Host Event Profiler mechanism
  cinn/hlir/framework/instruction.cc
  cinn/utils/CMakeLists.txt
  cinn/utils/event.h
  cinn/utils/profiler.cc
  cinn/utils/profiler.h
  cinn/utils/profiler_test.cc
Due: clang-format-with-version-check, copyright_checker

test(ut): fix testcases that need to be changed due to code upgrades (#1243)
  cinn/hlir/op/reduction_test.cc
  cinn/poly/stage_test.cc
Due: clang-format-with-version-check, copyright_checker

fix cast constant frac simplify bug (#1263)
  cinn/common/cas.cc
Due: clang-format-with-version-check, copyright_checker

demo2
  cinn/frontend/op_mappers/paddle/strided_slice.cc
Due: clang-format-with-version-check, copyright_checker

fix reduce_split_pass for reduce_all
  cinn/hlir/pass/reduce_split_pass.cc
Due: clang-format-with-version-check, copyright_checker

fix unittest for MultiLevelTiling
  cinn/auto_schedule/search_space/auto_gen_rule/CMakeLists.txt
  cinn/auto_schedule/search_space/auto_gen_rule/mix_rules_test.cc
  cinn/auto_schedule/search_space/auto_gen_rule/multi_level_tiling_test.cc
Due: clang-format-with-version-check, copyright_checker

support table
  cinn/utils/CMakeLists.txt
  cinn/utils/event.cc
  cinn/utils/event.h
  cinn/utils/profiler_test.cc
Due: clang-format-with-version-check, copyright_checker

add samplecategorical
  cinn/backends/ir_schedule_test.cc
  cinn/ir/ir_schedule.cc
  cinn/ir/ir_schedule.h
  cinn/ir/schedule_desc.cc
Due: clang-format-with-version-check, copyright_checker

add desc test
  cinn/ir/ir_schedule.cc
  cinn/ir/schedule_desc.cc
  cinn/ir/schedule_desc_test.cc
Due: clang-format-with-version-check, copyright_checker

fix add_cache_read_test
  cinn/auto_schedule/search_space/auto_gen_rule/add_cache_read_test.cc
Due: clang-format-with-version-check, copyright_checker

add strided_slice
  cinn/frontend/op_mappers/paddle/strided_slice.cc
  python/tests/op_mappers/test_strided_slice_op.py
Due: clang-format-with-version-check, copyright_checker

for test
  cinn/frontend/op_mappers/paddle/argmax.cc
  cinn/ir/tensor.cc
  python/tests/op_mappers/test_argmax_op.py
Due: clang-format-with-version-check, copyright_checker

for test
  cinn/ir/tensor.cc
Due: clang-format-with-version-check, copyright_checker

fix the dropout infer operator
  cinn/hlir/op/nn.cc
  cinn/hlir/pe/nn.cc
Due: clang-format-with-version-check, copyright_checker

should use Input instead of X
  cinn/frontend/op_mappers/paddle/strided_slice.cc
  python/tests/op_mappers/test_strided_slice_op.py
Due: clang-format-with-version-check, copyright_checker

mistake
  python/tests/op_mappers/test_strided_slice_op.py
Due: copyright_checker

pretty summary table
  cinn/utils/event.cc
  cinn/utils/event.h
  cinn/utils/profiler_test.cc
Due: clang-format-with-version-check, copyright_checker

add Norm output for norm op (#1259)
  cinn/backends/compiler.cc
  cinn/backends/compiler.h
  cinn/frontend/decomposer/CMakeLists.txt
  cinn/frontend/decomposer/norm.cc
  cinn/frontend/decomposer/norm_test.cc
  cinn/frontend/decomposer/use_decomposer.h
  cinn/frontend/net_builder.cc
  cinn/frontend/net_builder.h
  cinn/frontend/op_mappers/paddle/compare.cc
  cinn/frontend/op_mappers/paddle/constant.cc
  cinn/frontend/op_mappers/paddle/elementwise.cc
  cinn/frontend/op_mappers/paddle/norm.cc
  cinn/frontend/op_mappers/paddle/reduce.cc
  cinn/frontend/op_mappers/paddle/scale.cc
  cinn/hlir/framework/graph_compiler.cc
  cinn/hlir/framework/parallel_compiler.cc
  cinn/hlir/op/nn.cc
  cinn/pybind/frontend.cc
  python/tests/op_mappers/test_assign_value_op.py
  python/tests/op_mappers/test_fill_constant_op.py
  python/tests/op_mappers/test_norm_op.py
  python/tests/op_mappers/test_reduce_op.py
  python/tests/op_mappers/test_scale_op.py
  python/tests/ops/test_gaussian_random_op.py
  python/tests/ops/test_norm_op.py
  python/tests/ops/test_uniform_random_op.py
Due: clang-format-with-version-check, copyright_checker

for test
  cinn/frontend/op_mappers/paddle/argmax.cc
  cinn/ir/tensor.cc
Due: clang-format-with-version-check, copyright_checker

for test
  cinn/frontend/op_mappers/paddle/argmax.cc
Due: clang-format-with-version-check, copyright_checker

fix compile bug
  cinn/frontend/op_mappers/paddle/scale.cc
Due: clang-format-with-version-check, copyright_checker

fix(op): fix compute and schedule func of argmax and argmin (#1266)
  cinn/frontend/net_builder_test.cc
  cinn/hlir/op/contrib/argmax.cc
  cinn/hlir/op/contrib/argmax.h
  cinn/hlir/op/contrib/argmax_test.cc
  cinn/hlir/op/contrib/argmin.cc
  cinn/hlir/op/contrib/argmin.h
  cinn/hlir/op/contrib/argmin_test.cc
Due: clang-format-with-version-check, copyright_checker

change op pattern for lookup_table
  cinn/hlir/op/contrib/lookup_table.cc
Due: clang-format-with-version-check, copyright_checker

change lookuptable to kInjective
  cinn/hlir/op/contrib/lookup_table.cc
Due: clang-format-with-version-check, copyright_checker

modify tests
  python/tests/op_mappers/test_strided_slice_op.py
Due: copyright_checker

Rebuild op test helper
  python/tests/ops/op_test.py
  python/tests/ops/op_test_helper.py
  python/tests/ops/op_tester.py
  python/tests/ops/test_add_op_new.py
Due: copyright_checker

Reformat code
  python/tests/ops/op_test.py
  python/tests/ops/op_test_helper.py
Due: copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$, but not: (?x)^(
    infrt/.*
)$

