Repository PaddlePaddle/CINN: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

fix type error
  cinn/runtime/cuda/cuda_util.cc
Due: clang-format-with-version-check, copyright_checker

fix bugs
  cinn/pybind/frontend.cc
Due: clang-format-with-version-check, copyright_checker

fix bugs
  cinn/frontend/op_mappers/paddle/randint.cc
Due: clang-format-with-version-check, copyright_checker

fix bugs
  python/tests/op_mappers/test_randint_op.py
Due: copyright_checker

add op mapper for argmax and argmin (#1280)
  cinn/frontend/op_mappers/paddle/arg_min_max.cc
  cinn/frontend/op_mappers/use_op_mappers.h
  cinn/hlir/op/contrib/argmax.cc
  cinn/hlir/op/contrib/argmin.cc
  python/tests/op_mappers/test_argmax_op.py
  python/tests/op_mappers/test_argmin_op.py
Due: clang-format-with-version-check, copyright_checker

fix bugs
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
Due: none

add resize op
  cinn/frontend/net_builder.cc
  cinn/frontend/net_builder.h
  cinn/hlir/op/contrib/CMakeLists.txt
  cinn/hlir/op/contrib/resize.cc
  cinn/hlir/op/contrib/resize.h
  cinn/hlir/op/use_ops.h
  cinn/pybind/frontend.cc
  cinn/runtime/cpu/host_intrinsics.cc
  cinn/runtime/cpu/host_intrinsics.h
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
  cinn/runtime/cuda/cuda_intrinsics.cc
  python/tests/ops/test_resize_op.py
Due: clang-format-with-version-check, copyright_checker

fix bugs
  cinn/runtime/cpu/host_intrinsics.cc
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
Due: clang-format-with-version-check, copyright_checker

fix bugs
  python/tests/ops/test_resize_op.py
Due: copyright_checker

update
  cinn/frontend/net_builder.cc
  cinn/frontend/net_builder.h
  cinn/frontend/net_builder_test.cc
  cinn/frontend/syntax.h
  cinn/hlir/framework/op_lowering.cc
  cinn/ir/CMakeLists.txt
Due: clang-format-with-version-check, copyright_checker

modify test data
  python/tests/ops/test_resize_op.py
Due: copyright_checker

Add op mapper lookup_table_v2 and onehot (#1303)
  cinn/frontend/op_mappers/paddle/lookup_table.cc
  cinn/frontend/op_mappers/paddle/one_hot.cc
  cinn/hlir/op/contrib/one_hot.cc
  python/tests/op_mappers/test_lookup_table_op.py
  python/tests/op_mappers/test_one_hot_op.py
Due: clang-format-with-version-check, copyright_checker

add op_mappers for roll (#1248)
  cinn/frontend/op_mappers/paddle/roll.cc
  cinn/frontend/op_mappers/use_op_mappers.h
  python/tests/op_mappers/test_roll_op.py
Due: clang-format-with-version-check, copyright_checker

add decision
  cinn/ir/ir_schedule.cc
  cinn/ir/ir_schedule.h
  cinn/ir/schedule_desc.cc
  cinn/ir/schedule_desc_test.cc
Due: clang-format-with-version-check, copyright_checker

add check for resize
  cinn/hlir/op/contrib/resize.cc
Due: clang-format-with-version-check, copyright_checker

eliminate compilation warnings
  cinn/hlir/op/contrib/resize.cc
Due: clang-format-with-version-check, copyright_checker

fix bugs
  cinn/hlir/op/contrib/resize.cc
Due: clang-format-with-version-check, copyright_checker

fix_ninja_error
  cmake/external/absl.cmake
  cmake/external/gflags.cmake
  cmake/external/ginac.cmake
  cmake/external/glog.cmake
  cmake/external/isl.cmake
  cmake/external/mkldnn.cmake
  cmake/external/mklml.cmake
  cmake/external/protobuf.cmake
Due: none

tests(auto-inline): fix code according to review
  cinn/auto_schedule/search_space/auto_gen_rule/auto_inline_test.cc
  tests/concrete_program_builder.h
Due: clang-format-with-version-check, copyright_checker

fix_ninja_error
  cmake/external/mkldnn.cmake
Due: none

set scatter to injective
  cinn/hlir/op/op_util.cc
  cinn/hlir/op/transform.cc
Due: clang-format-with-version-check, copyright_checker

fix_ninja error
  cmake/external/gtest.cmake
Due: none

fix test
  cinn/ir/schedule_desc_test.cc
Due: clang-format-with-version-check, copyright_checker

Unify tiling and cache rule (#1264)
  cinn/auto_schedule/analysis/analyze_ir.cc
  cinn/auto_schedule/search_space/auto_gen_rule/CMakeLists.txt
  cinn/auto_schedule/search_space/auto_gen_rule/add_cache_read_test.cc
  cinn/auto_schedule/search_space/auto_gen_rule/add_cache_write_test.cc
  cinn/auto_schedule/search_space/auto_gen_rule/mix_rules_test.cc
  cinn/auto_schedule/search_space/auto_gen_rule/multi_level_tiling.cc
  cinn/auto_schedule/search_space/auto_gen_rule/multi_level_tiling.h
  cinn/auto_schedule/search_space/auto_gen_rule/multi_level_tiling_test.cc
  cinn/auto_schedule/search_space/auto_gen_rule/test_helper.cc
  cinn/auto_schedule/search_space/auto_gen_rule/test_helper.h
  cinn/auto_schedule/search_space/search_space.cc
Due: clang-format-with-version-check, copyright_checker

fix conflicts
  cinn/frontend/op_mappers/paddle/randint.cc
  cinn/hlir/op/contrib/randint.cc
  cinn/hlir/op/external_api_registry.cc
  cinn/runtime/custom_function_test.cc
Due: clang-format-with-version-check, copyright_checker

fix conflicts
  python/tests/op_mappers/test_randint_op.py
  python/tests/ops/test_randint.py
Due: copyright_checker

fix conflicts
  python/tests/ops/test_randint_op.py
Due: copyright_checker

add CooperativeProcess
  cinn/auto_schedule/CMakeLists.txt
  cinn/auto_schedule/post_schedule_rule/CMakeLists.txt
  cinn/auto_schedule/post_schedule_rule/cooperative_process.cc
  cinn/auto_schedule/post_schedule_rule/cooperative_process.h
  cinn/auto_schedule/post_schedule_rule/cooperative_process_test.cc
  cinn/auto_schedule/post_schedule_rule/post_schedule_rule.h
  cinn/ir/ir.h
Due: clang-format-with-version-check, copyright_checker

fix
  cinn/ir/schedule_desc_test.cc
Due: clang-format-with-version-check, copyright_checker

fix conflicts
  cinn/runtime/cuda/cuda_util.cc
  python/tests/op_mappers/test_randint_op.py
Due: clang-format-with-version-check, copyright_checker

Fix bugs in denseMergePass (#1298)
  cinn/frontend/optimize.cc
  cinn/hlir/pass/dense_merge_pass.cc
  cinn/runtime/flags.cc
Due: clang-format-with-version-check, copyright_checker

add IR check
  cinn/auto_schedule/post_schedule_rule/cooperative_process_test.cc
  cinn/auto_schedule/search_space/auto_gen_rule/multi_level_tiling_test.cc
Due: clang-format-with-version-check, copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$, but not: (?x)^(
    infrt/.*
)$

