Repository PaddlePaddle/CINN: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    sha: v1.0.1
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    sha: 5bf6c09bfa1297d3692cadd621ef95f1284e33c0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./tools/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
#-   repo: local
#    hooks:
#    -   id: cpplint-cpp-source
#        name: cpplint
#        description: Check C++ code style using cpplint.py.
#        entry: bash ./tools/codestyle/cpplint_pre_commit.hook
#        language: system
#        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: check-added-large-files
        args: [--maxkb=500]

# -   repo: https://github.com/pre-commit/pre-commit-hooks
#     rev: v1.2.3
#     hooks:
#     - id: flake8

-   repo: https://github.com/pre-commit/mirrors-yapf.git
    rev: v0.26.0
    hooks:
    - id: yapf
      args: ['--parallel', '--in-place']

-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$
        exclude: |
            (?x)^(
                infrt/.*
            )$

paddle_model_convertor_test add random input data to execute
  cinn/frontend/decomposer/test_helper.h
  cinn/frontend/paddle_model_convertor_test.cc
Due: clang-format-with-version-check, copyright_checker

fix copyright of jsonfile_database_test.cc
  cinn/auto_schedule/database/jsonfile_database_test.cc
Due: clang-format-with-version-check, copyright_checker

change naive_mul_model to resnet_model to pass CI
  cinn/frontend/CMakeLists.txt
Due: none

test expand
  cinn/frontend/op_mappers/paddle/expand.cc
  python/tests/ops/test_broadcast_to_op.py
Due: clang-format-with-version-check, copyright_checker

paddle_model_convertor_test.cc only support nvgpu
  cinn/frontend/CMakeLists.txt
Due: none

remove useless cctest
  cinn/frontend/CMakeLists.txt
Due: none

cast support unint
  cinn/optim/cast_simplify.cc
Due: clang-format-with-version-check, copyright_checker

Fix a compile error about layer_norm_test.
  cinn/frontend/op_mappers/paddle/layer_norm_test.cc
Due: clang-format-with-version-check, copyright_checker

Temporary commit
  cinn/auto_schedule/tests/performance_comparison_test.cc
  cinn/frontend/net_builder_test.cc
  cinn/hlir/framework/graph_compiler.cc
  cinn/hlir/pe/ir_schedule_pe.cc
  cinn/ir/ir_schedule.cc
Due: clang-format-with-version-check, copyright_checker

rewrite the check of proto message equality
  cinn/auto_schedule/database/jsonfile_database_test.cc
Due: clang-format-with-version-check, copyright_checker

fix copyright of jsonfile_database_test.cc (#976)
  cinn/auto_schedule/database/jsonfile_database_test.cc
Due: clang-format-with-version-check, copyright_checker

add test_paddle_expand
  cinn/frontend/op_mappers/paddle/CMakeLists.txt
  cinn/frontend/op_mappers/paddle/expand_test.cc
Due: clang-format-with-version-check, copyright_checker

rewrite the check of proto message equality (#978)
  cinn/auto_schedule/database/jsonfile_database_test.cc
Due: clang-format-with-version-check, copyright_checker

opmapper support abs
  cinn/frontend/op_mappers/paddle/elementwise.cc
Due: clang-format-with-version-check, copyright_checker

fix no schedule bug
  cinn/auto_schedule/tests/performance_comparison_test.cc
  cinn/hlir/framework/op_lowering.cc
Due: clang-format-with-version-check, copyright_checker

fix graph compiler
  cinn/hlir/framework/CMakeLists.txt
  cinn/hlir/framework/graph_compiler.cc
Due: clang-format-with-version-check, copyright_checker

Add LayerNormOpMapper. (#961)
  cinn/frontend/net_builder.h
  cinn/frontend/op_mappers/paddle/CMakeLists.txt
  cinn/frontend/op_mappers/paddle/layer_norm.cc
  cinn/frontend/op_mappers/paddle/layer_norm_test.cc
  cinn/frontend/op_mappers/use_op_mappers.h
  cinn/utils/CMakeLists.txt
  cinn/utils/functional.h
  cinn/utils/functional_test.cc
Due: clang-format-with-version-check, copyright_checker

Commit before mergin Bin Xu's change
  cinn/auto_schedule/tests/performance_comparison_test.cc
  cinn/hlir/framework/instruction.cc
  cinn/hlir/pe/ir_schedule_pe.cc
Due: clang-format-with-version-check, copyright_checker

add unittests for where sign squeeze2
  cinn/frontend/op_mappers/paddle/CMakeLists.txt
  cinn/frontend/op_mappers/paddle/elementwise_test.cc
  cinn/frontend/op_mappers/paddle/squeeze_test.cc
  cinn/frontend/op_mappers/paddle/where_test.cc
Due: clang-format-with-version-check, copyright_checker

Fix Parallel Compiler (#964)
  cinn/backends/codegen_c.cc
  cinn/backends/codegen_c.h
  cinn/backends/llvm/execution_engine.cc
  cinn/hlir/framework/CMakeLists.txt
  cinn/hlir/framework/graph_compiler.cc
  cinn/hlir/framework/parallel_compiler.cc
  cinn/hlir/framework/parallel_compiler.h
  cinn/hlir/framework/parallel_compiler_test.cc
  cinn/hlir/framework/tensor.cc
  cinn/hlir/framework/tensor.h
  cinn/hlir/op/custom_call.cc
  cinn/hlir/pass/custom_call_pass.cc
  cinn/hlir/pass/fusion_merge_pass.cc
  cinn/optim/transform_polyfor_to_for.cc
  cinn/runtime/flags.cc
Due: clang-format-with-version-check, copyright_checker

update
  cinn/frontend/optimize.cc
Due: clang-format-with-version-check, copyright_checker

improve auto tuner debug log
  cinn/auto_schedule/auto_tuner.cc
  cinn/auto_schedule/search_space/search_space.cc
  cinn/auto_schedule/search_space/search_state.cc
  cinn/auto_schedule/search_strategy/evolutionary_search.cc
  cinn/auto_schedule/task/task_optimizer.cc
  cinn/auto_schedule/tests/performance_comparison_test.cc
Due: clang-format-with-version-check, copyright_checker

opmapper support abs (#982)
  cinn/frontend/op_mappers/paddle/elementwise.cc
Due: clang-format-with-version-check, copyright_checker

fix the conv2d custom call
  cinn/hlir/op/custom_call.cc
Due: clang-format-with-version-check, copyright_checker

Fix Lowering
  cinn/auto_schedule/tests/performance_comparison_test.cc
  cinn/hlir/framework/op_lowering.cc
  cinn/hlir/op/nn.cc
  cinn/hlir/pe/ir_schedule_pe.cc
  cinn/lang/lower.cc
Due: clang-format-with-version-check, copyright_checker

Temp hardcode fix SimpleRunner type commit
  cinn/auto_schedule/measure/simple_runner.cc
Due: clang-format-with-version-check, copyright_checker

add test_op_mapper.py single test script
  cinn/frontend/op_mapper_registry.cc
  cinn/frontend/paddle_model_convertor.cc
  cinn/frontend/paddle_model_convertor.h
  cinn/frontend/paddle_model_convertor_test.cc
  cinn/pybind/frontend.cc
  python/CMakeLists.txt
  python/tests/ops/op_test.py
  python/tests/test_op_mapper.py
  python/tests/test_paddle_model.py
Due: clang-format-with-version-check, copyright_checker

change test_paddle_model to test_paddle_model_convertor
  python/tests/test_paddle_model_convertor.py
Due: copyright_checker

add op_mapper test directory
  python/CMakeLists.txt
  python/tests/op_mappers/op_mapper_test.py
  python/tests/op_mappers/test_log1p_op.py
  python/tests/op_mappers/test_stack_op.py
Due: copyright_checker

reset op_test.py
  python/tests/ops/op_test.py
Due: copyright_checker

fix parallel execute single test may cause bug problem
  python/tests/op_mappers/op_mapper_test.py
Due: copyright_checker

[ernie-relative] add OpMapper for paddle expand and expand_v2 (#977)
  cinn/frontend/op_mappers/paddle/CMakeLists.txt
  cinn/frontend/op_mappers/paddle/expand.cc
  cinn/frontend/op_mappers/paddle/expand_test.cc
  cinn/frontend/op_mappers/use_op_mappers.h
Due: clang-format-with-version-check, copyright_checker

fix manual schedule bug in softmax
  cinn/auto_schedule/tests/performance_comparison_test.cc
  cinn/hlir/op/nn.cc
Due: clang-format-with-version-check, copyright_checker

add IrEqualVisitor to compare a pair Expr is equal
  cinn/ir/CMakeLists.txt
  cinn/ir/ir_compare.cc
  cinn/ir/ir_compare.h
  cinn/ir/ir_compare_test.cc
Due: clang-format-with-version-check, copyright_checker

fix compile bug
  cinn/pybind/frontend.cc
  python/CMakeLists.txt
Due: clang-format-with-version-check, copyright_checker

fix some problem by review advice
  cinn/frontend/decomposer/CMakeLists.txt
  cinn/frontend/decomposer/test_helper.cc
  cinn/frontend/decomposer/test_helper.h
  cinn/frontend/paddle_model_convertor.cc
  cinn/frontend/paddle_model_convertor.h
Due: clang-format-with-version-check, copyright_checker

support expand_dims
  cinn/frontend/net_builder.cc
  cinn/frontend/net_builder.h
  cinn/frontend/op_mappers/paddle/CMakeLists.txt
  cinn/frontend/op_mappers/paddle/unsqueeze.cc
  cinn/frontend/op_mappers/use_op_mappers.h
  cinn/hlir/op/transform.cc
  cinn/hlir/pe/transform.cc
  cinn/hlir/pe/transform.h
  cinn/pybind/frontend.cc
  python/tests/ops/test_expand_dims.py
Due: clang-format-with-version-check, copyright_checker

fix EXCLUDE_OP to EXCLUDE_OP_MAPPER
  python/CMakeLists.txt
Due: none

fix power support float type
  cinn/common/cas.cc
  cinn/common/cas_test.cc
  cinn/ir/ir.cc
  cinn/ir/ir_printer.cc
  python/tests/ops/test_pow_op.py
Due: clang-format-with-version-check, copyright_checker
