Repository PaddlePaddle/CINN: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

feat(fuse): add reduce fuse reduce between group
  cinn/hlir/pass/fusion_merge_pass.cc
  cinn/hlir/pass/fusion_merge_pass_util.h
  cinn/hlir/pass/op_fusion_pass.cc
Due: clang-format-with-version-check, copyright_checker

check using nvcc
  cinn/backends/compiler.cc
  cinn/hlir/framework/parallel_compiler.cc
  cinn/runtime/cuda/cuda_module.cc
  cinn/runtime/flags.cc
  cinn/runtime/flags.h
Due: clang-format-with-version-check, copyright_checker

flag compile with nvrtc
  cinn/backends/compiler.cc
  cinn/runtime/flags.cc
Due: clang-format-with-version-check, copyright_checker

[CodeRefine]Remove redundant CastSimplify pass (#1414)
  cinn/optim/optimize.cc
Due: clang-format-with-version-check, copyright_checker

add nvcc cmd path
  cinn/backends/nvrtc/nvcc_util.cc
  cinn/runtime/flags.cc
Due: clang-format-with-version-check, copyright_checker

update bfloat16.h
  .gitignore
  cinn/common/bfloat16.h
Due: clang-format-with-version-check, copyright_checker

cublas gemm support fp64
  cinn/runtime/cuda/cublas_util.h
  cinn/runtime/cuda/cuda_util.cc
  python/tests/ops/test_matmul_op.py
Due: clang-format-with-version-check, copyright_checker

fix custom_call report error when open opfusion
  cinn/hlir/pass/single_group_optimize_pass.cc
Due: clang-format-with-version-check, copyright_checker

reduce array size to avoid large cuda memory occupation
  python/tests/ops/test_sort_op.py
Due: copyright_checker

add not passed test case
  python/tests/ops/test_sort_op.py
Due: copyright_checker

reduce array size again
  python/tests/ops/test_sort_op.py
Due: copyright_checker

fix scatter op mapper external call bug
  cinn/hlir/op/transform.cc
Due: clang-format-with-version-check, copyright_checker

add more comments to transform.cc
  cinn/hlir/op/transform.cc
Due: clang-format-with-version-check, copyright_checker

recover net_builder.h
  cinn/frontend/net_builder.h
Due: clang-format-with-version-check, copyright_checker

fix
  python/tests/ops/test_broadcast_to_op_new.py
Due: copyright_checker

fix(fuse): fix unittest of FusionMergePass
  cinn/hlir/pass/fusion_merge_pass_test.cc
Due: clang-format-with-version-check, copyright_checker

cublas gemm support fp64 (#1421)
  cinn/runtime/cuda/cublas_util.h
  cinn/runtime/cuda/cuda_util.cc
  python/tests/ops/test_matmul_op.py
Due: clang-format-with-version-check, copyright_checker

fix autobroadcast pass not skip broadcast_to op bug
  cinn/frontend/pass/auto_broadcast.cc
  cinn/hlir/op/broadcast.cc
  python/tests/ops/op_test.py
  python/tests/test_paddle_model_convertor.py
Due: clang-format-with-version-check, copyright_checker

Unify IsCompiledWithCUDA and IsCompiledWithCUDNN
  cinn/frontend/pass/cast_collapsing_test.cc
  cinn/frontend/pass/dead_code_eliminate_test.cc
  cinn/frontend/pass/gemm_rewriter_test.cc
  cinn/frontend/pass/pass_test_helper.h
  cinn/frontend/pass/program_topoerror_test.cc
  cinn/frontend/pass/transpose_folding_input_test.cc
  cinn/frontend/pass/transpose_folding_output_test.cc
  cinn/frontend/pass/transpose_scale_folding_test.cc
  cinn/hlir/op/contrib/lookup_table_test.cc
  cinn/hlir/op/contrib/reciprocal_test.cc
  cinn/hlir/pass/test_dot_merger.cc
  cinn/pybind/common.cc
  cinn/pybind/frontend.cc
  cinn/runtime/flags.cc
  cinn/runtime/flags.h
Due: clang-format-with-version-check, copyright_checker

fix python unittest ci compute error bug
  python/tests/op_mappers/test_layer_norm_op.py
  python/tests/test_paddle_model_convertor.py
Due: copyright_checker

fix ir::For iter var name may repeat bug
  cinn/ir/ir_schedule.cc
  cinn/lang/compute.cc
Due: clang-format-with-version-check, copyright_checker

fix for loop deepth cannot exceed 11 bug
  cinn/common/axis.h
Due: clang-format-with-version-check, copyright_checker

fix python test helper code style bug (#1419)
  python/tests/ops/op_test_helper.py
Due: copyright_checker

remove axis are limited with kAxises bug
  cinn/common/axis.cc
  cinn/common/axis.h
Due: clang-format-with-version-check, copyright_checker

add axis unittest
  cinn/common/CMakeLists.txt
  cinn/common/axis_test.cc
Due: clang-format-with-version-check, copyright_checker

Fix typos
  cinn/auto_schedule/database/database.cc
  cinn/auto_schedule/measure/measure.h
  cinn/auto_schedule/measure/schedule_measurer.cc
  cinn/auto_schedule/search_space/block_sampler.cc
  cinn/auto_schedule/search_space/rule_sampler.cc
  cinn/auto_schedule/task/task_optimizer.cc
  cinn/auto_schedule/task/tune_task.cc
  cinn/auto_schedule/task_scheduler/task_scheduler.cc
  cinn/backends/codegen_c.cc
  cinn/backends/codegen_c.h
Due: clang-format-with-version-check, copyright_checker

Update test_unary_elementwise_op.py
  python/tests/ops/test_unary_elementwise_op.py
Due: copyright_checker

use COPY_FILE to force copy new bfloat16.h to runtime dir to pass ci
  .gitignore
  CMakeLists.txt
Due: none

Work commit
  cinn/hlir/framework/op_lowering.cc
  cinn/hlir/pass/fusion_merge_pass_util.h
  cinn/hlir/pass/op_fusion_pass_util.h
Due: clang-format-with-version-check, copyright_checker

fix paddle.gather's index tensor rank may greater than 1 bug
  cinn/frontend/op_mappers/paddle/gather.cc
Due: clang-format-with-version-check, copyright_checker

fix custom_call report error when open opfusion (#1423)
  cinn/hlir/pass/single_group_optimize_pass.cc
Due: clang-format-with-version-check, copyright_checker

fix magic number
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
Due: none

Support fp64 in cudnn conv2d, pool2d, softmax
  cinn/hlir/pass/custom_call_pass.cc
  cinn/runtime/cuda/cuda_util.cc
  python/tests/ops/test_conv2d_op.py
  python/tests/ops/test_pool2d_op.py
Due: clang-format-with-version-check, copyright_checker

[0D-Tensor] Add ExpandZeroDimPass, support 0D input and output
  cinn/frontend/net_builder.cc
  cinn/frontend/optimize.cc
  cinn/hlir/framework/tensor.h
  cinn/hlir/op/elementwise.cc
  cinn/hlir/pass/CMakeLists.txt
  cinn/hlir/pass/expand_zero_dim_pass.cc
  cinn/hlir/pass/expand_zero_dim_pass_test.cc
  cinn/hlir/pass/use_pass.h
  cinn/ir/ir_printer.cc
  cinn/pybind/frontend.cc
  python/tests/ops/op_test.py
  python/tests/ops/test_zero_dim_tensor.py
Due: clang-format-with-version-check, copyright_checker

using nvcc in nvrtc
  cinn/backends/compiler.cc
  cinn/backends/nvrtc/CMakeLists.txt
  cinn/backends/nvrtc/nvcc_util.cc
  cinn/backends/nvrtc/nvcc_util.h
  cinn/backends/nvrtc/nvrtc_util.cc
  cinn/backends/nvrtc/nvrtc_util.h
  cinn/hlir/framework/parallel_compiler.cc
Due: clang-format-with-version-check, copyright_checker

default with nvrtc
  cinn/runtime/flags.cc
Due: clang-format-with-version-check, copyright_checker

remove used unit test
  cinn/hlir/pe/pe_transform_test.cc
Due: clang-format-with-version-check, copyright_checker

Add Op UniTest for acos
  python/tests/ops/test_acos.py
Due: copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$, but not: (?x)^(
    infrt/.*
)$

