Repository PaddlePaddle/CINN: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    sha: v1.0.1
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    sha: 5bf6c09bfa1297d3692cadd621ef95f1284e33c0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./tools/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
#-   repo: local
#    hooks:
#    -   id: cpplint-cpp-source
#        name: cpplint
#        description: Check C++ code style using cpplint.py.
#        entry: bash ./tools/codestyle/cpplint_pre_commit.hook
#        language: system
#        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: check-added-large-files
        args: [--maxkb=500]

# -   repo: https://github.com/pre-commit/pre-commit-hooks
#     rev: v1.2.3
#     hooks:
#     - id: flake8

-   repo: https://github.com/pre-commit/mirrors-yapf.git
    rev: v0.26.0
    hooks:
    - id: yapf
      args: ['--parallel', '--in-place']

-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$
        exclude: |
            (?x)^(
                infrt/.*
            )$

fix slice not support decrease_axis bug (#1183)
  cinn/hlir/op/transform.cc
  cinn/hlir/pe/transform.cc
  cinn/hlir/pe/transform.h
  python/tests/ops/test_slice_op.py
Due: clang-format-with-version-check, copyright_checker

trick for conv2d
  cinn/frontend/optimize.cc
  cinn/frontend/pass/pass_test_helper.h
  cinn/hlir/framework/graph_compiler_test.cc
  cinn/hlir/op/external_api_registry_test.cc
  cinn/hlir/pass/CMakeLists.txt
  cinn/hlir/pass/custom_call_pass.cc
  cinn/hlir/pass/use_pass.h
Due: clang-format-with-version-check, copyright_checker

revert conv2d
  cinn/hlir/framework/op_lowering_test.cc
  cinn/hlir/op/custom_call.cc
Due: clang-format-with-version-check, copyright_checker

optimize dot_merger pass
  cinn/hlir/pass/dot_merger.cc
Due: clang-format-with-version-check, copyright_checker

add AutoCastPass for precision sensitive operator (#1180)
  cinn/frontend/decomposer/batch_norm.cc
  cinn/frontend/op_mappers/paddle/layer_norm.cc
  cinn/frontend/optimize.cc
  cinn/frontend/pass/CMakeLists.txt
  cinn/frontend/pass/auto_cast.cc
  cinn/frontend/pass/auto_cast_test.cc
  cinn/frontend/pass/cast_collapsing.cc
  cinn/frontend/pass/cast_collapsing_test.cc
  cinn/frontend/pass/pass_test_helper.h
  cinn/frontend/pass/transpose_collapsing.cc
  cinn/frontend/pass/transpose_collapsing_test.cc
  cinn/frontend/pass/use_program_pass.h
  cinn/pybind/common.cc
  cinn/pybind/frontend.cc
  python/CMakeLists.txt
  python/tests/passes/pass_test.py
  python/tests/passes/test_auto_cast.py
Due: clang-format-with-version-check, copyright_checker

register conv2d with CINN_WITH_CUDNN
  cinn/hlir/op/external_api_registry.cc
  cinn/hlir/pass/custom_call_pass.cc
Due: clang-format-with-version-check, copyright_checker

Update Proto Tag
  cmake/external/protobuf.cmake
Due: none

remove conv2d from test_external_api_registry
  cinn/hlir/op/external_api_registry_test.cc
Due: clang-format-with-version-check, copyright_checker

fix slice empty output shape should reshape to {1} bug
  cinn/hlir/op/transform.cc
Due: clang-format-with-version-check, copyright_checker

add accuray test
  cinn/frontend/optimize.cc
  cinn/hlir/pass/dense_merge_pass_test.cc
  cinn/runtime/cuda/cuda_util.cc
Due: clang-format-with-version-check, copyright_checker

add single test
  python/tests/ops/test_slice_op.py
Due: copyright_checker

fix singel test bug
  python/tests/ops/test_slice_op.py
Due: copyright_checker

support gather_nd
  cinn/frontend/op_mappers/paddle/gather_nd.cc
  cinn/frontend/op_mappers/use_op_mappers.h
  python/tests/op_mappers/test_gather_nd_op.py
Due: clang-format-with-version-check, copyright_checker

add accuracy test
  cinn/frontend/optimize.cc
  cinn/hlir/pass/CMakeLists.txt
  cinn/hlir/pass/constant_folding_pass.cc
  cinn/hlir/pass/constant_folding_pass_test.cc
  cinn/hlir/pass/constant_folding_pass_util.h
  cinn/hlir/pass/use_pass.h
Due: clang-format-with-version-check, copyright_checker

add CastRecomputePass
  .gitignore
  cinn/common/type.cc
  cinn/frontend/optimize.cc
  cinn/frontend/pass/auto_cast_test.cc
  cinn/hlir/framework/graph.cc
  cinn/hlir/pass/CMakeLists.txt
  cinn/hlir/pass/cast_recompute_pass.cc
  cinn/hlir/pass/use_pass.h
  cinn/pybind/frontend.cc
  cinn/runtime/cuda/cuda_module.cc
  python/tests/ops/test_batch_norm_op.py
  python/tests/passes/pass_test.py
  python/tests/passes/test_cast_recompute.py
Due: clang-format-with-version-check, copyright_checker

add more log
  cinn/hlir/pass/cast_recompute_pass.cc
Due: clang-format-with-version-check, copyright_checker

default test op fusion
  python/tests/passes/pass_test.py
Due: copyright_checker

remove useless max_relative_error
  python/tests/ops/test_batch_norm_op.py
  python/tests/passes/test_cast_recompute.py
Due: copyright_checker

Optimize protobuf.cmake
  cmake/external/protobuf.cmake
Due: none

fix cinn transpose infershape same as paddle transpose2
  cinn/hlir/op/transform.cc
Due: clang-format-with-version-check, copyright_checker

Modify cmake args
  cmake/external/protobuf.cmake
Due: none

fix test_external_api_registry with CINN_WITH_CUDNN
  cinn/hlir/op/external_api_registry_test.cc
Due: clang-format-with-version-check, copyright_checker

[Add Pass] Merge Parall Matmul With Cublas (#1154)
  cinn/frontend/optimize.cc
  cinn/hlir/op/custom_call.cc
  cinn/hlir/pass/CMakeLists.txt
  cinn/hlir/pass/dce_pass_test.cc
  cinn/hlir/pass/dense_merge_pass.cc
  cinn/hlir/pass/dense_merge_pass_test.cc
  cinn/hlir/pass/use_pass.h
  cinn/runtime/cuda/cuda_intrinsics.cc
  cinn/runtime/cuda/cuda_util.cc
  cinn/runtime/cuda/cuda_util.h
Due: clang-format-with-version-check, copyright_checker

Add op cumsum
  cinn/frontend/op_mappers/paddle/cumsum.cc
  cinn/frontend/op_mappers/use_op_mappers.h
  python/tests/op_mappers/test_cumsum_op.py
Due: clang-format-with-version-check, copyright_checker

add linear random engine and uniform sampler
  cinn/utils/CMakeLists.txt
  cinn/utils/random_engine.cc
  cinn/utils/random_engine.h
Due: clang-format-with-version-check, copyright_checker

Add annotate for test cases
  python/tests/op_mappers/test_cumsum_op.py
Due: copyright_checker

add random seed to objects
  cinn/auto_schedule/auto_tuner.cc
  cinn/auto_schedule/search_space/search_space.cc
  cinn/auto_schedule/search_space/search_space.h
  cinn/auto_schedule/search_strategy/evolutionary_search.cc
  cinn/auto_schedule/search_strategy/evolutionary_search.h
  cinn/auto_schedule/task/task_optimizer.cc
  cinn/auto_schedule/task/task_optimizer.h
  cinn/ir/ir_schedule.cc
  cinn/ir/ir_schedule.h
Due: clang-format-with-version-check, copyright_checker

support DenseMergePass
  cinn/frontend/optimize.cc
  cinn/hlir/pass/dense_merge_pass_test.cc
Due: clang-format-with-version-check, copyright_checker

optimize dot_merger pass2
  cinn/hlir/pass/CMakeLists.txt
Due: none

optimize dot_merger pass3
  cinn/hlir/pass/dot_merger.cc
Due: clang-format-with-version-check, copyright_checker

optimize dot_merger pass4
  cinn/hlir/pass/dot_merger_test.cc
Due: clang-format-with-version-check, copyright_checker

Add op cumsum (#1189)
  cinn/frontend/op_mappers/paddle/cumsum.cc
  cinn/frontend/op_mappers/use_op_mappers.h
  python/tests/op_mappers/test_cumsum_op.py
Due: clang-format-with-version-check, copyright_checker

fix slice empty output shape should reshape to {1} bug (#1186)
  cinn/hlir/op/transform.cc
  python/tests/ops/test_slice_op.py
Due: clang-format-with-version-check, copyright_checker

fix CI mod bug
  cinn/hlir/pass/cast_recompute_pass.cc
  cinn/lang/builtin.cc
  cinn/optim/map_extern_call.cc
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
  cinn/runtime/cuda/cuda_instrinsics_float16.cc
  cinn/runtime/cuda/cuda_intrinsics.cc
  python/tests/ops/test_binary_elementwise_op.py
  python/tests/ops/test_mod_op.py
Due: clang-format-with-version-check, copyright_checker

fix builder.mod not correct bug
  cinn/lang/builtin.cc
  cinn/optim/map_extern_call.cc
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
  cinn/runtime/cuda/cuda_instrinsics_float16.cc
  cinn/runtime/cuda/cuda_intrinsics.cc
  python/tests/ops/test_binary_elementwise_op.py
  python/tests/ops/test_mod_op.py
Due: clang-format-with-version-check, copyright_checker

revert mod bug fix code
  cinn/lang/builtin.cc
  cinn/optim/map_extern_call.cc
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
  cinn/runtime/cuda/cuda_instrinsics_float16.cc
  cinn/runtime/cuda/cuda_intrinsics.cc
  python/tests/ops/test_binary_elementwise_op.py
  python/tests/ops/test_mod_op.py
Due: clang-format-with-version-check, copyright_checker

add end new line
  cinn/lang/builtin.cc
  cinn/optim/map_extern_call.cc
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
Due: clang-format-with-version-check, copyright_checker

reset new cast id begin from op number
  cinn/hlir/pass/cast_recompute_pass.cc
Due: clang-format-with-version-check, copyright_checker
