Repository PaddlePaddle/CINN: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

horizontal fuse, code complete, wait for debug
  cinn/api/fuse_pass_context.h
  cinn/api/op_group_interface.h
  cinn/api/tensor_interface.h
  cinn/api/tensor_interface_list.h
  cinn/common/CMakeLists.txt
  cinn/hlir/framework/graph.h
  cinn/hlir/framework/tensor_interface_list.h
  cinn/hlir/pass/fusion_merge_pass.cc
  cinn/hlir/pass/general_fusion_merge_pass.cc
  cinn/hlir/pass/op_fusion_pass.cc
Due: clang-format-with-version-check, copyright_checker

Add test case for acosh
  python/tests/ops/test_acosh_op.py
Due: copyright_checker

Pass Horizontal Fuse Test
  cinn/api/op_group_interface.h
  cinn/hlir/framework/graph.h
  cinn/hlir/pass/CMakeLists.txt
  cinn/hlir/pass/check_fusion_accuracy_pass_test.cc
  cinn/hlir/pass/fusion_merge_pass_util.h
  cinn/hlir/pass/general_fusion_merge_pass.cc
  cinn/hlir/pass/use_pass.h
Due: clang-format-with-version-check, copyright_checker

temp save
  cinn/hlir/pass/general_fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

Fixed jitify commit to prevent header file conflicts
  cmake/external/jitify.cmake
Due: none

revert for debug
  cinn/hlir/pass/general_fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

debug change
  cinn/hlir/pass/general_fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

fix vertical fuse bug
  cinn/hlir/pass/general_fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

polish code
  cinn/hlir/pass/general_fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

Refactor Recompute Fuse
  cinn/hlir/pass/general_fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

Set random seed for debug floor_divide
  python/tests/ops/test_binary_elementwise_op.py
  python/tests/ops/test_floor_divide_op.py
Due: copyright_checker

Support InputFuse
  cinn/hlir/pass/general_fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

update recompute codes
  cinn/hlir/pass/general_fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

Fix loop error
  cinn/hlir/pass/general_fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

Avoid oom error
  python/tests/ops/test_floor_divide_op.py
  python/tests/ops/test_sign_op.py
Due: copyright_checker

Change to GeneralInputFuse in DoGeneralRecomputeAndVerticalFusion
  cinn/hlir/pass/general_fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

Just for debug ci
  python/tests/ops/test_floor_divide_op.py
Due: copyright_checker

fix DetectCycle
  cinn/api/op_group_interface.h
  cinn/hlir/pass/general_fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

ci test
  build.sh
Due: copyright_checker

Fix floor_divide error when input dtype is int
  cinn/lang/builtin.cc
  python/tests/ops/test_binary_elementwise_op.py
  python/tests/ops/test_floor_divide_op.py
Due: clang-format-with-version-check, copyright_checker

fix some random bug
  cinn/hlir/pass/general_fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

Fix bugs and add more tests for floor_divide
  cinn/hlir/op/contrib/repeat_test.cc
  cinn/lang/builtin.cc
  cinn/runtime/cuda/cuda_intrinsics.cc
  python/tests/ops/test_floor_divide_op.py
Due: clang-format-with-version-check, copyright_checker

Fixed jitify commit to prevent header file conflicts (#1522)
  cinn/hlir/op/contrib/repeat_test.cc
  cinn/lang/builtin.cc
  cinn/runtime/cuda/cuda_intrinsics.cc
  cmake/external/jitify.cmake
  python/tests/ops/test_floor_divide_op.py
  python/tests/ops/test_sign_op.py
Due: clang-format-with-version-check, copyright_checker

Experimental PR for the first OP to clean old schedule
  cinn/hlir/op/contrib/argmin.cc
Due: clang-format-with-version-check, copyright_checker

Update to c++17
  CMakeLists.txt
  cinn/pybind/bind.h
  cmake/external/absl.cmake
  cmake/external/gflags.cmake
  cmake/external/glog.cmake
  cmake/external/gtest.cmake
Due: clang-format-with-version-check, copyright_checker

Upgrade build_demo to c++17
  tutorials/build_demo.sh
Due: copyright_checker

Support pass register
  cinn/common/macros.h
  cinn/frontend/decomposer/test_helper.h
  cinn/frontend/interpreter.cc
  cinn/frontend/optimize.cc
  cinn/frontend/pass/test_helper.h
  cinn/hlir/framework/pass.cc
  cinn/hlir/pass/general_fusion_merge_pass.cc
  cmake/core.cmake
Due: clang-format-with-version-check, copyright_checker

Compatible with paddle's std flags
  CMakeLists.txt
Due: none

note test_sum_op fp16 test
  cinn/frontend/decomposer/use_decomposer.h
  python/tests/ops/test_sum_op.py
Due: clang-format-with-version-check, copyright_checker

Unify CMAKE_CXX_FLAGS and CMAKE_CXX_STANDARD
  CMakeLists.txt
  cmake/external/absl.cmake
  cmake/external/gflags.cmake
  cmake/external/glog.cmake
  cmake/external/gtest.cmake
Due: none

Experimental PR for the first OP to clean old schedule (#1524)
  cinn/hlir/op/contrib/argmin.cc
Due: clang-format-with-version-check, copyright_checker

Both set CMAKE_CXX_FLAGS and CMAKE_CXX_STANDARD
  CMakeLists.txt
Due: none

add TestCaseHelper
  python/tests/ops/test_batch_norm_op.py
Due: copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$, but not: (?x)^(
    infrt/.*
)$

