Repository PaddlePaddle/CINN: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    sha: v1.0.1
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    sha: 5bf6c09bfa1297d3692cadd621ef95f1284e33c0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./tools/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
#-   repo: local
#    hooks:
#    -   id: cpplint-cpp-source
#        name: cpplint
#        description: Check C++ code style using cpplint.py.
#        entry: bash ./tools/codestyle/cpplint_pre_commit.hook
#        language: system
#        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: check-added-large-files
        args: [--maxkb=500]

# -   repo: https://github.com/pre-commit/pre-commit-hooks
#     rev: v1.2.3
#     hooks:
#     - id: flake8

-   repo: https://github.com/pre-commit/mirrors-yapf.git
    rev: v0.26.0
    hooks:
    - id: yapf
      args: ['--parallel', '--in-place']

-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$
        exclude: |
            (?x)^(
                infrt/.*
            )$

[0D-Tensor] Polish 0D-Tensor unittest framework, tests +-*/
  python/tests/ops/op_test.py
  python/tests/ops/test_zero_dim_tensor.py
Due: copyright_checker

fix 0-d tensor
  cinn/hlir/op/elementwise.cc
Due: clang-format-with-version-check, copyright_checker

add more dtype
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
  cinn/runtime/cuda/cuda_intrinsics.cc
Due: clang-format-with-version-check, copyright_checker

Fix typos (#1454)
  cinn/hlir/pass/check_fusion_accuracy_pass_test.cc
Due: clang-format-with-version-check, copyright_checker

Fix typos (#1455)
  cinn/common/cas.cc
  cinn/common/cas.h
  cinn/frontend/decomposer/batch_norm_test.cc
  cinn/frontend/op_mappers/paddle/batchnorm.cc
  cinn/frontend/pass/cast_collapsing.cc
  cinn/hlir/op/elementwise.cc
  cinn/optim/buffer_assign.cc
  cinn/runtime/cinn_runtime.h
  cinn/utils/event.cc
  cmake/core.cmake
  docs/design.org
  infrt/common/axis.h
Due: clang-format-with-version-check, copyright_checker

Update README.md (#1445)
  README.md
Due: none

add op unitest for exp
  python/tests/ops/test_exp_op.py
Due: copyright_checker

fix subgraph dumplicate
  cinn/hlir/pass/check_fusion_accuracy_pass.cc
  cinn/hlir/pass/fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

fix all bugs in resnet50
  cinn/common/float16.h
  cinn/optim/vectorize_loops.cc
Due: clang-format-with-version-check, copyright_checker

fix bugs
  python/tests/ops/test_acosh_op.py
Due: copyright_checker

code style
  cinn/hlir/framework/op_lowering_util.cc
Due: clang-format-with-version-check, copyright_checker

unittest for split op (#1453)
  python/tests/ops/test_split_op.py
Due: copyright_checker

op unittest for sort & enhance test helper (#1411)
  cinn/hlir/op/contrib/argmax_test.cc
  cinn/hlir/op/contrib/argmin_test.cc
  cinn/hlir/op/contrib/sort.cc
  cinn/hlir/op/contrib/sort_test.cc
  cinn/runtime/cpu/host_intrinsics.cc
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
  cinn/runtime/cuda/cuda_intrinsics.cc
  python/tests/ops/op_test_helper.py
  python/tests/ops/test_sort_op.py
Due: clang-format-with-version-check, copyright_checker

fix(ir): fix copy error of var in ir (#1451)
  cinn/optim/transform_gpu_forloop.cc
Due: clang-format-with-version-check, copyright_checker

refine unittest for sum op
  python/tests/ops/test_sum_op.py
Due: copyright_checker

polish codes
  python/tests/ops/op_test.py
  python/tests/passes/test_expand_zero_dim_pass.py
Due: copyright_checker

Add Reference Type
  cinn/common/type.cc
  cinn/common/type.h
Due: clang-format-with-version-check, copyright_checker

Fix typos
  cinn/auto_schedule/cost_model/feature.cc
  cinn/auto_schedule/cost_model/feature.h
  cinn/auto_schedule/cost_model/xgb_cost_model.h
  cinn/auto_schedule/database/database.h
  cinn/auto_schedule/database/jsonfile_database.cc
  cinn/auto_schedule/measure/simple_builder.cc
  cinn/auto_schedule/measure/simple_runner.cc
  cinn/auto_schedule/search_space/auto_gen_rule/auto_bind.cc
  cinn/auto_schedule/search_space/auto_gen_rule/auto_gen_rule.cc
  cinn/auto_schedule/search_space/auto_gen_rule/auto_gen_rule.h
  cinn/auto_schedule/search_space/auto_gen_rule/multi_level_tiling.cc
  cinn/auto_schedule/search_space/auto_gen_rule/multi_level_tiling.h
  cinn/auto_schedule/search_space/auto_gen_rule/test_helper.h
  cinn/auto_schedule/search_space/rule_sampler.h
  cinn/auto_schedule/search_space/search_space.cc
  cinn/auto_schedule/search_space/search_state.h
  cinn/auto_schedule/search_strategy/evolutionary_search.h
  cinn/auto_schedule/task/task_optimizer.cc
  cinn/auto_schedule/task/tune_task.h
  cinn/auto_schedule/tests/performance_comparison_test.cc
  cinn/backends/llvm/codegen_llvm.cc
  cinn/backends/llvm/codegen_llvm.h
  cinn/common/object.h
  cinn/hlir/framework/graph_compiler.cc
  cinn/hlir/pass/fusion_merge_pass_util.h
  tools/gen_c++_tutorial.py
Due: clang-format-with-version-check, copyright_checker

Update input vars while loading paddle model
  cinn/frontend/paddle_model_convertor.cc
  cinn/frontend/paddle_model_convertor.h
  cinn/pybind/frontend.cc
Due: clang-format-with-version-check, copyright_checker

Create cinn input var using feed_data's shape
  python/tests/test_paddle_model_convertor.py
Due: copyright_checker

fix bugs
  cinn/backends/codegen_cuda_dev.cc
  cinn/common/float16.h
  cinn/optim/vectorize_loops.cc
Due: clang-format-with-version-check, copyright_checker

add op unitest for identity
  python/tests/ops/test_identity_op.py
Due: copyright_checker

do elementwise recompute (#1432)
  cinn/hlir/framework/op_lowering_util.cc
  cinn/hlir/pass/check_fusion_accuracy_pass.cc
  cinn/hlir/pass/fusion_merge_pass.cc
  cinn/hlir/pass/fusion_merge_pass_test.cc
  cinn/hlir/pass/reduce_split_pass.cc
Due: clang-format-with-version-check, copyright_checker

Add GetReference IR and its transformers
  cinn/auto_schedule/cost_model/feature_extractor.cc
  cinn/backends/codegen_c.cc
  cinn/backends/llvm/codegen_llvm.cc
  cinn/ir/ir.cc
  cinn/ir/ir.h
  cinn/ir/ir_base.h
  cinn/ir/ir_printer.cc
Due: clang-format-with-version-check, copyright_checker

fix vector remove at for in loop bug in LoopAssignReduceWithoutLast bug
  cinn/hlir/framework/op_lowering.cc
  cinn/hlir/framework/op_lowering_util.cc
  cinn/hlir/pe/reduction.cc
  cinn/ir/ir.cc
  cinn/ir/ir_schedule.cc
  cinn/pybind/frontend.cc
  python/tests/fusion/test_select_reduce.py
Due: clang-format-with-version-check, copyright_checker

Op conv2d, softmax support fp64
  cinn/frontend/decomposer/activation.cc
  cinn/hlir/pass/custom_call_pass.cc
  cinn/runtime/cuda/cuda_util.cc
  python/tests/ops/test_conv2d_op.py
  python/tests/ops/test_softmax_op.py
Due: clang-format-with-version-check, copyright_checker

comment int8
  python/tests/ops/test_broadcast_to_op_new.py
Due: copyright_checker

Fix model convertor out of memory bug
  cinn/frontend/paddle_model_convertor.cc
  cinn/frontend/paddle_model_convertor.h
  cinn/pybind/frontend.cc
  python/tests/test_paddle_model_convertor.py
Due: clang-format-with-version-check, copyright_checker

remove some bug about accurate
  cinn/common/cas.cc
  cinn/common/cas_test.cc
  cinn/pybind/frontend.cc
  python/tests/ops/test_reduce_op_other.py
Due: clang-format-with-version-check, copyright_checker

fix cas SimplifyFracOp no update after CasSimplify bug
  cinn/common/cas.cc
  cinn/common/cas_test.cc
Due: clang-format-with-version-check, copyright_checker

fix cse pass pass
  cinn/hlir/framework/graph.cc
  cinn/hlir/pass/common_subexpression_elimination.cc
  cinn/hlir/pass/common_subexpression_elimination_test.cc
Due: clang-format-with-version-check, copyright_checker

add end new line
  cinn/hlir/pass/common_subexpression_elimination.cc
  cinn/hlir/pass/common_subexpression_elimination_test.cc
Due: clang-format-with-version-check, copyright_checker

remove cse pass bug fix code
  cinn/hlir/framework/graph.cc
  cinn/hlir/pass/common_subexpression_elimination.cc
  cinn/hlir/pass/common_subexpression_elimination_test.cc
Due: clang-format-with-version-check, copyright_checker

modify eular_beam bug (#1458)
  cinn/hlir/framework/op_lowering_util.cc
Due: clang-format-with-version-check, copyright_checker

Add Op UnitTest for reciprocal
  python/tests/ops/test_reciprocal_op.py
Due: copyright_checker

Add Op UnitTest for gelu
  python/tests/ops/test_gelu_op.py
Due: copyright_checker

format
  python/tests/ops/test_sum_op.py
Due: copyright_checker

concat the code with more macro
  cinn/common/float16.h
Due: clang-format-with-version-check, copyright_checker

add a.out
  a.out
Due: none

Op pool2d support fp64
  cinn/runtime/cuda/cuda_util.cc
Due: clang-format-with-version-check, copyright_checker
