Repository PaddlePaddle/CINN: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    sha: v1.0.1
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    sha: 5bf6c09bfa1297d3692cadd621ef95f1284e33c0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./tools/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
#-   repo: local
#    hooks:
#    -   id: cpplint-cpp-source
#        name: cpplint
#        description: Check C++ code style using cpplint.py.
#        entry: bash ./tools/codestyle/cpplint_pre_commit.hook
#        language: system
#        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: check-added-large-files
        args: [--maxkb=500]

# -   repo: https://github.com/pre-commit/pre-commit-hooks
#     rev: v1.2.3
#     hooks:
#     - id: flake8

-   repo: https://github.com/pre-commit/mirrors-yapf.git
    rev: v0.26.0
    hooks:
    - id: yapf
      args: ['--parallel', '--in-place']

-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$
        exclude: |
            (?x)^(
                infrt/.*
            )$

fix README (#652)
  README.md
Due: none

git fix merge
  cinn/runtime/cuda/cuda_util.cc
Due: clang-format-with-version-check, copyright_checker

Add training doc (#654)
  README.md
  build.sh
  docs/source/index.rst
  docs/source/train_resnet50_with_cinn.md
  tools/docker/Dockerfile.ci.cuda
  tutorials/cinn_builder.py
  tutorials/net_builder.py
Due: copyright_checker

fix cinn_builder pybind export (#640)
  cinn/hlir/op/reduction.cc
  cinn/pybind/frontend.cc
  python/tests/test_cinnbuilder.py
Due: clang-format-with-version-check, copyright_checker

update paddle version
  build.sh
  docs/source/cinn_builder_api.md
  tutorials/train_resnet50_with_cinn.py
Due: copyright_checker

remove useless identity op (#588)
  cinn/frontend/op_mappers/batchnorm.cc
  cinn/frontend/op_mappers/reshape.cc
Due: clang-format-with-version-check, copyright_checker

edit tensor name
  cinn/frontend/interpreter_test.cc
  cinn/frontend/syntax_test.cc
  python/tests/test_computation.py
  python/tests/test_frontend.py
  python/tests/test_resnet.py
Due: clang-format-with-version-check, copyright_checker

Test Change Format
  cinn_builder_api.html
Due: none

Update doc
  cinn_builder_api.html
Due: none

Revert Change
  cinn_builder_api.html
Due: none

delete redundant doc
  docs/source/index.rst
  docs/source/train_resnet50_with_cinn.md
  tutorials/train_resnet50_with_cinn.py
Due: copyright_checker

Fix some CI errors.
  build.sh
  tutorials/train_resnet50_with_cinn.py
Due: copyright_checker

Update paddle version and doc (#658)
  build.sh
  cinn/frontend/interpreter_test.cc
  cinn/frontend/syntax_test.cc
  docs/source/cinn_builder_api.md
  docs/source/index.rst
  docs/source/train_resnet50_with_cinn.md
  python/tests/test_computation.py
  python/tests/test_frontend.py
  python/tests/test_resnet.py
Due: clang-format-with-version-check, copyright_checker

Use the single GPU.
  tutorials/train_resnet50_with_cinn.py
Due: copyright_checker

Fix an error about batch size.
  tutorials/train_resnet50_with_cinn.py
Due: copyright_checker

Add a training tutorial: Training ResNet50 using Paddle compiled with CINN. (#646)
  tutorials/train_resnet50_with_cinn.py
Due: copyright_checker

init vertical fusion pass
  cinn/hlir/framework/graph.h
  cinn/hlir/pass/vertical_fusion.cc
Due: clang-format-with-version-check, copyright_checker

add math function support for html doc
  docs/source/cinn_builder_api.md
  docs/source/cinn_builder_api.rst
  docs/source/conf.py
  docs/source/index.rst
Due: copyright_checker

add get_shape netbuilder and optimize identity in reshape/transpose to get_shape
  cinn/frontend/net_builder.cc
  cinn/frontend/net_builder.h
  cinn/frontend/net_builder_test.cc
  cinn/frontend/op_mappers/reshape.cc
  cinn/frontend/op_mappers/transpose.cc
  cinn/hlir/op/elementwise.cc
Due: clang-format-with-version-check, copyright_checker

using shared ptr
  cinn/runtime/cuda/cuda_util.cc
  cinn/runtime/flags.cc
Due: clang-format-with-version-check, copyright_checker

using stream
  cinn/runtime/cuda/cuda_util.cc
Due: clang-format-with-version-check, copyright_checker

add math function support for html doc (#660)
  docs/source/cinn_builder_api.md
  docs/source/cinn_builder_api.rst
  docs/source/conf.py
  docs/source/index.rst
Due: copyright_checker

new update doc
  _downloads/0578f5012bf3e4cc5f7e3ed99bea98d9/train_resnet50_with_cinn.ipynb
Due: none

Gh update train doc (#664)
  _downloads/0578f5012bf3e4cc5f7e3ed99bea98d9/train_resnet50_with_cinn.ipynb
Due: none

fix some bug
  cinn/frontend/net_builder_test.cc
  cinn/hlir/op/elementwise.cc
Due: clang-format-with-version-check, copyright_checker

change OpPattern from kElemWise to kOpaque
  cinn/hlir/op/elementwise.cc
Due: clang-format-with-version-check, copyright_checker

using simplify thread pool
  cinn/runtime/cuda/cuda_util.cc
Due: clang-format-with-version-check, copyright_checker

remove cuda stream host call
  cinn/runtime/cuda/cuda_util.cc
Due: clang-format-with-version-check, copyright_checker

fix sub thread exit
  cinn/runtime/cuda/cuda_util.cc
Due: clang-format-with-version-check, copyright_checker

set bn_grad_decomposer_test threshold to 0.01
  cinn/frontend/decomposer/batch_norm_test.cc
Due: clang-format-with-version-check, copyright_checker

set bn_grad_decomposer_test threshold to 0.01 (#665)
  cinn/frontend/decomposer/batch_norm_test.cc
Due: clang-format-with-version-check, copyright_checker

add bn test
  python/tests/ops/test_batchnorm_op.py
Due: copyright_checker

op fusion pass
  cinn/hlir/framework/graph.h
  cinn/hlir/pass/CMakeLists.txt
  cinn/hlir/pass/op_fusion_pass.cc
  cinn/hlir/pass/op_fusion_pass_test.cc
  cinn/hlir/pass/use_pass.h
Due: clang-format-with-version-check, copyright_checker

remove run test code
  cinn/hlir/pass/CMakeLists.txt
Due: none
