Repository PaddlePaddle/CINN: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

fix elementwise cannot fuse with reduce when output has fetch (#1386)
  cinn/hlir/pass/fusion_merge_pass_util.h
Due: clang-format-with-version-check, copyright_checker

fix(fuse): fix bugs in topo order with priority
  cinn/hlir/framework/op_lowering_util.cc
Due: clang-format-with-version-check, copyright_checker

format cuh
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
Due: none

use float16() instead of float(16) which is ambiguous
  cinn/hlir/op/op_util.h
Due: clang-format-with-version-check, copyright_checker

Clear usless code
  cinn/optim/fold_cinn_call_arguments.cc
Due: clang-format-with-version-check, copyright_checker

fix
  python/tests/ops/test_broadcast_to_op_new.py
Due: copyright_checker

fix
  python/tests/ops/test_divide_op.py
Due: copyright_checker

[Perf]Polish UniformRandom
  cinn/backends/extern_func_protos.cc
  cinn/hlir/op/contrib/CMakeLists.txt
  cinn/hlir/op/contrib/uniform_random.cc
  cinn/hlir/op/contrib/uniform_random.h
  cinn/hlir/op/contrib/uniform_random_test.cc
  cinn/hlir/op/external_api_registry.cc
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
  python/tests/ops/test_dropout.py
Due: clang-format-with-version-check, copyright_checker

fix
  python/tests/ops/test_cast_op.py
Due: copyright_checker

replace var with zero
  cinn/optim/transform_gpu_forloop.cc
Due: clang-format-with-version-check, copyright_checker

op unittest for scatter_assign
  python/tests/ops/test_scatter_assign_op.py
Due: copyright_checker

add dtype float16
  python/tests/ops/test_scatter_assign_op.py
Due: copyright_checker

fix
  python/tests/ops/test_expand_dims.py
Due: copyright_checker

polish unittest
  cinn/backends/extern_func_protos.cc
  cinn/hlir/op/contrib/uniform_random.cc
  cinn/hlir/op/contrib/uniform_random.h
  cinn/hlir/op/contrib/uniform_random_test.cc
  cinn/utils/data_util.cc
  python/tests/ops/test_dropout.py
Due: clang-format-with-version-check, copyright_checker

add fusion python test utils
  cinn/frontend/optimize.cc
  cinn/frontend/optimize.h
  cinn/pybind/frontend.cc
  python/CMakeLists.txt
  python/tests/fusion/fusion_test.py
  python/tests/fusion/test_cast_broadcast_reduce_max.py
  python/tests/passes/pass_test.py
Due: clang-format-with-version-check, copyright_checker

ignore unittest on X86
  cinn/hlir/op/contrib/uniform_random_test.cc
Due: clang-format-with-version-check, copyright_checker

add bf16 type
  .gitignore
  cinn/backends/llvm/codegen_llvm.cc
  cinn/backends/llvm/llvm_util.cc
  cinn/backends/nvrtc/nvrtc_util_test.cc
  cinn/common/cinn_value.cc
  cinn/common/cinn_value.h
  cinn/common/ir_util.h
  cinn/frontend/op_mappers/paddle/layer_norm.cc
  cinn/hlir/framework/accuracy_checker.cc
  cinn/hlir/framework/op_lowering.cc
  cinn/hlir/framework/op_lowering_util.cc
  cinn/ir/lowered_func.cc
  cinn/lang/builtin.cc
  cinn/optim/cast_simplify.cc
  cinn/runtime/cinn_runtime.cc
Due: clang-format-with-version-check, copyright_checker

fix(fuse): Modify topological order with priority (#1385)
  cinn/hlir/framework/op_lowering.cc
  cinn/hlir/framework/op_lowering_util.cc
  cinn/hlir/framework/op_lowering_util.h
Due: clang-format-with-version-check, copyright_checker

fix test_paddle_model_convertor cannot run directly bug
  python/CMakeLists.txt
  python/tests/op_mappers/op_mapper_test.py
  python/tests/test_paddle_model_convertor.py
Due: copyright_checker

add broadcast case
  python/tests/ops/test_floor_divide_op.py
Due: copyright_checker

Clear usless code (#1388)
  cinn/optim/fold_cinn_call_arguments.cc
Due: clang-format-with-version-check, copyright_checker

op unittest for scatter_assign (#1390)
  python/tests/ops/test_scatter_assign_op.py
Due: copyright_checker

Add Op UnitTest for divide (#1383)
  python/tests/ops/test_divide_op.py
Due: copyright_checker

fix loop var replace
  cinn/optim/transform_gpu_forloop.cc
Due: clang-format-with-version-check, copyright_checker

[CodeRefine]Polish CallExtern/Lowered Interface argument naming to avoid disambiguation
  cinn/lang/compute.cc
  cinn/lang/compute.h
Due: clang-format-with-version-check, copyright_checker

op unittest for select
  python/tests/ops/test_select_op.py
Due: copyright_checker

refine
  python/tests/ops/test_select_op.py
Due: copyright_checker

fix code style bug
  python/tests/fusion/fusion_test.py
  python/tests/fusion/test_cast_broadcast_reduce_max.py
Due: copyright_checker

remove useless code
  cinn/hlir/pe/reduction.cc
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
Due: clang-format-with-version-check, copyright_checker

op unittest for sigmoid
  python/tests/ops/test_sigmoid_op.py
Due: copyright_checker

op unittest for sign
  python/tests/ops/test_sign_op.py
Due: copyright_checker

Register bitwise_and_int64 extern call
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
  cinn/runtime/cuda/cuda_intrinsics.cc
Due: clang-format-with-version-check, copyright_checker

Add Op UnitTest for Cast (#1381)
  python/tests/ops/test_cast_op.py
Due: copyright_checker

fix(fuse): fix bug in CanbeInline condition
  cinn/hlir/framework/op_lowering_util.cc
Due: clang-format-with-version-check, copyright_checker

fix cmakelist.txt
  cinn/backends/CMakeLists.txt
  cinn/backends/codegen_debug_test.cc
  cinn/hlir/op/contrib/CMakeLists.txt
Due: clang-format-with-version-check, copyright_checker

fix ci errors
  CMakeLists.txt
  cinn/runtime/cuda/CMakeLists.txt
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
  cinn/runtime/cuda/cuda_instrinsics_bfloat16.cc
  cinn/runtime/cuda/use_extern_funcs.h
Due: clang-format-with-version-check, copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$, but not: (?x)^(
    infrt/.*
)$

