Repository PaddlePaddle/CINN: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    sha: v1.0.1
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    sha: 5bf6c09bfa1297d3692cadd621ef95f1284e33c0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./tools/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
#-   repo: local
#    hooks:
#    -   id: cpplint-cpp-source
#        name: cpplint
#        description: Check C++ code style using cpplint.py.
#        entry: bash ./tools/codestyle/cpplint_pre_commit.hook
#        language: system
#        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: check-added-large-files
        args: [--maxkb=500]

# -   repo: https://github.com/pre-commit/pre-commit-hooks
#     rev: v1.2.3
#     hooks:
#     - id: flake8

-   repo: https://github.com/pre-commit/mirrors-yapf.git
    rev: v0.26.0
    hooks:
    - id: yapf
      args: ['--parallel', '--in-place']

-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$
        exclude: |
            (?x)^(
                infrt/.*
            )$

fix
  python/tests/ops/test_mul_op.py
Due: copyright_checker

update
  cinn/hlir/pass/general_fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

fix bug
  cinn/hlir/pass/general_fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

first commit
  cinn/ir/CMakeLists.txt
  cinn/ir/ir_schedule_error.cc
  cinn/ir/ir_schedule_error.h
Due: clang-format-with-version-check, copyright_checker

add logical_not unittest
  python/tests/ops/test_logical_not_op.py
Due: copyright_checker

Update ir.h
  cinn/ir/ir.h
Due: clang-format-with-version-check, copyright_checker

Add op unitest for acosh (#1521)
  python/tests/ops/test_acosh_op.py
Due: copyright_checker

Organize the code for OpLowerer
  cinn/auto_schedule/search_space/auto_gen_rule/auto_inline_test.cc
  cinn/auto_schedule/search_space/auto_gen_rule/test_helper.cc
  cinn/auto_schedule/task/tune_task.cc
  cinn/auto_schedule/tests/performance_comparison_test.cc
  cinn/hlir/framework/op_lowering.cc
  cinn/hlir/framework/op_lowering.h
  cinn/hlir/framework/op_lowering_util.cc
  cinn/hlir/framework/op_lowering_util.h
Due: clang-format-with-version-check, copyright_checker

add op unitest for logical_or (#1397)
  python/tests/ops/test_logical_or_op.py
Due: copyright_checker

fix api headerfile not found error
  cinn/CMakeLists.txt
  cinn/api/CMakeLists.txt
Due: none

update interface of op and tensor
  cinn/api/op_group.h
  cinn/api/op_node.cc
  cinn/api/op_node.h
  cinn/api/tensor_node.cc
  cinn/api/tensor_node.h
  cinn/hlir/pass/general_fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

refine code
  cinn/api/op_group.h
  cinn/api/op_node.cc
  cinn/api/op_node.h
  cinn/api/tensor_node.cc
  cinn/api/tensor_node.h
  cinn/hlir/pass/general_fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

Add some annotation for OpLowerer
  cinn/hlir/framework/op_lowering.cc
  cinn/hlir/framework/op_lowering.h
Due: clang-format-with-version-check, copyright_checker

add Shape class
  cinn/api/op_group.h
  cinn/api/op_node.h
  cinn/api/tensor_node.h
  cinn/hlir/pass/general_fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

refine view interface
  cinn/api/op_group.h
  cinn/api/op_node.h
  cinn/api/tensor_node.cc
  cinn/api/tensor_node.h
  cinn/hlir/pass/general_fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

add logical_not unittest (#1534)
  python/tests/ops/test_logical_not_op.py
Due: copyright_checker

Add Op UniTest for logical_xor (#1398)
  python/tests/ops/test_logical_xor_op.py
Due: copyright_checker

Add Op UnitTest for logical_and (#1396)
  python/tests/ops/test_logical_and_op.py
Due: copyright_checker

split error
  cinn/ir/ir_schedule.cc
  cinn/ir/ir_schedule.h
  cinn/ir/ir_schedule_error.cc
  cinn/ir/ir_schedule_error.h
  cinn/ir/ir_schedule_util.cc
Due: clang-format-with-version-check, copyright_checker

Revert "remove sum decomposer and revert sum ir realize (#1520)"
  cinn/frontend/decomposer/CMakeLists.txt
  cinn/frontend/decomposer/elementwise.cc
  cinn/frontend/decomposer/elementwise_test.cc
  cinn/frontend/decomposer/use_decomposer.h
  cinn/frontend/pass/auto_cast.cc
  cinn/hlir/op/elementwise.cc
  python/tests/ops/test_sum_op.py
Due: clang-format-with-version-check, copyright_checker

modify shared_ptr of Group
  cinn/api/op_group.h
  cinn/api/op_node.cc
  cinn/api/op_node.h
  cinn/api/tensor_node.cc
  cinn/api/tensor_node.h
  cinn/hlir/pass/general_fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

fix-accuracy-test-bug
  cinn/hlir/pass/general_fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

fix mlt unittest
  cinn/auto_schedule/search_space/auto_gen_rule/multi_level_tiling_test.cc
Due: clang-format-with-version-check, copyright_checker

Add test and full dtype support for argsort, argmax, argmin
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
  cinn/runtime/cuda/cuda_intrinsics.cc
  python/tests/ops/test_argmax_op.py
  python/tests/ops/test_argmin_op.py
Due: clang-format-with-version-check, copyright_checker

polish annotations
  cinn/hlir/framework/op_lowering.cc
Due: clang-format-with-version-check, copyright_checker

fix duplicate parameter
  cinn/hlir/framework/op_lowering.cc
Due: clang-format-with-version-check, copyright_checker

fix args not match node_data bug
  cinn/hlir/framework/op_lowering.cc
Due: clang-format-with-version-check, copyright_checker

Remove old flag in argmax (#1533)
  cinn/hlir/op/contrib/argmax.cc
Due: clang-format-with-version-check, copyright_checker

Revert "remove sum decomposer and revert sum ir realize (#1520)" (#1536)
  cinn/frontend/decomposer/CMakeLists.txt
  cinn/frontend/decomposer/elementwise.cc
  cinn/frontend/decomposer/elementwise_test.cc
  cinn/frontend/decomposer/use_decomposer.h
  cinn/frontend/pass/auto_cast.cc
  cinn/hlir/op/elementwise.cc
  python/tests/ops/test_sum_op.py
Due: clang-format-with-version-check, copyright_checker

fix logic to determin group schedule
  cinn/hlir/framework/op_lowering.cc
Due: clang-format-with-version-check, copyright_checker

fix bug
  cinn/api/op_group.h
  cinn/api/tensor_node.h
  cinn/hlir/pass/general_fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

fix logic to determine group schedule
  cinn/hlir/framework/op_lowering.cc
Due: clang-format-with-version-check, copyright_checker

add graph point into group
  cinn/api/op_group.h
  cinn/hlir/framework/graph.h
  cinn/hlir/pass/general_fusion_merge_pass.cc
  cinn/hlir/pass/op_fusion_pass.cc
Due: clang-format-with-version-check, copyright_checker

add shape.h file
  cinn/api/op_interface.h
  cinn/api/shape.h
  cinn/api/tensor_node.h
Due: clang-format-with-version-check, copyright_checker
