Repository PaddlePaddle/CINN: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    sha: v1.0.1
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    sha: 5bf6c09bfa1297d3692cadd621ef95f1284e33c0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./tools/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
#-   repo: local
#    hooks:
#    -   id: cpplint-cpp-source
#        name: cpplint
#        description: Check C++ code style using cpplint.py.
#        entry: bash ./tools/codestyle/cpplint_pre_commit.hook
#        language: system
#        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: check-added-large-files
        args: [--maxkb=500]

# -   repo: https://github.com/pre-commit/pre-commit-hooks
#     rev: v1.2.3
#     hooks:
#     - id: flake8

-   repo: https://github.com/pre-commit/mirrors-yapf.git
    rev: v0.26.0
    hooks:
    - id: yapf
      args: ['--parallel', '--in-place']

-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$
        exclude: |
            (?x)^(
                infrt/.*
            )$

add_doc
  cinn/backends/codegen_cuda_dev_test.cc
  cinn/pybind/lang.cc
  cinn/pybind/poly.cc
  docs/guide.md
  docs/source/conf.py
  tutorials/README.md
  tutorials/schedule_primitives.py
Due: clang-format-with-version-check, copyright_checker

add guide.md
  docs/source/guide.md
  docs/source/index.rst
Due: none

refine doc
  cinn/pybind/poly.cc
  docs/source/guide.md
  docs/source/index.rst
  tutorials/README.md
  tutorials/jit.py
  tutorials/load_paddle_model.py
  tutorials/matmul.py
  tutorials/schedule_primitives.py
Due: clang-format-with-version-check, copyright_checker

done block reduce
  cinn/hlir/op/reduction.cc
  cinn/hlir/op/reduction_test.cc
  cinn/hlir/pe/schedule.cc
  cinn/hlir/pe/schedule.h
Due: clang-format-with-version-check, copyright_checker

refine build.sh
  build.sh
Due: copyright_checker

add CinnBuilder and NetBuilder tutorials
  tutorials/cinn_builder.py
  tutorials/net_builder.py
Due: copyright_checker

using Run model rather than build model to describe exactly tutorials
  tutorials/cinn_builder.py
  tutorials/net_builder.py
Due: copyright_checker

add test case
  cinn/hlir/op/reduction.cc
  cinn/hlir/op/reduction_test.cc
  cinn/hlir/pe/schedule.cc
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
Due: clang-format-with-version-check, copyright_checker

Add doc (#623)
  build.sh
  cinn/backends/codegen_cuda_dev_test.cc
  cinn/pybind/lang.cc
  cinn/pybind/poly.cc
  docs/guide.md
  docs/source/conf.py
  docs/source/guide.md
  docs/source/index.rst
  tutorials/README.md
  tutorials/README.txt
  tutorials/jit.py
  tutorials/load_paddle_model.py
  tutorials/matmul.py
  tutorials/schedule_primitives.py
Due: clang-format-with-version-check, copyright_checker

fix test code
  cinn/hlir/op/reduction_test.cc
Due: clang-format-with-version-check, copyright_checker

refine load_paddle_model doc
  build.sh
  docs/source/conf.py
  tutorials/load_paddle_model.py
Due: copyright_checker

change rpath of shared_library in python wheel package
  CMakeLists.txt
  docs/source/install.md
  python/setup.py.in
Due: none

perfect tutorial content by review advices
  tutorials/cinn_builder.py
  tutorials/net_builder.py
Due: copyright_checker

bn forward optimize
  cinn/frontend/cinn_builder.cc
  cinn/hlir/op/reduction.cc
  cinn/hlir/op/reduction_test.cc
Due: clang-format-with-version-check, copyright_checker

bn backward optimize
  cinn/frontend/decomposer/batch_norm.cc
  cinn/hlir/op/reduction.cc
Due: clang-format-with-version-check, copyright_checker

remove cuda injective optimize
  cinn/hlir/pe/schedule.cc
Due: clang-format-with-version-check, copyright_checker

add docs
  build.sh
  docs/source/index.rst
  tutorials/load_paddle_model.cc
  tutorials/load_paddle_model.py
Due: clang-format-with-version-check, copyright_checker

remove cuda injective optimize (#618)
  cinn/hlir/pe/schedule.cc
Due: clang-format-with-version-check, copyright_checker

change rpath of shared_library in python wheel package (#625)
  CMakeLists.txt
  docs/source/install.md
  python/setup.py.in
Due: none

perfect tutorial content
  tutorials/cinn_builder.py
  tutorials/net_builder.py
Due: copyright_checker

add running model notation
  tutorials/cinn_builder.py
  tutorials/net_builder.py
Due: copyright_checker

remove cuda injective optimize (#618) (#629)
  cinn/hlir/pe/schedule.cc
Due: clang-format-with-version-check, copyright_checker

change rpath of shared_library in python wheel package (#625) (#630)
  CMakeLists.txt
  docs/source/install.md
  python/setup.py.in
Due: none

support keep_dim=true
  cinn/hlir/op/reduction.cc
  cinn/hlir/op/reduction_test.cc
  cinn/hlir/pe/reduction.cc
  cinn/hlir/pe/reduction.h
  cinn/hlir/pe/schedule.cc
Due: clang-format-with-version-check, copyright_checker

fix doc
  build.sh
  tutorials/load_paddle_model.cc
  tutorials/load_paddle_model.py
Due: clang-format-with-version-check, copyright_checker

set target according to is_compiled_with_cuda
  tutorials/cinn_builder.py
  tutorials/net_builder.py
Due: copyright_checker

Refine load_paddle_model doc (#626)
  build.sh
  docs/source/conf.py
  docs/source/index.rst
  tutorials/load_paddle_model.cc
  tutorials/load_paddle_model.py
Due: clang-format-with-version-check, copyright_checker

using batchnorm+conv2d replace add+conv2d in NetBuilder
  tutorials/cinn_builder.py
  tutorials/net_builder.py
Due: copyright_checker

fix infershape for bn optimize
  cinn/frontend/cinn_builder.cc
  cinn/frontend/cinn_builder.h
  cinn/frontend/decomposer/batch_norm.cc
  cinn/hlir/op/reduction.cc
Due: clang-format-with-version-check, copyright_checker

fix reduce schedule
  cinn/hlir/op/reduction.cc
  cinn/hlir/pe/reduction.cc
  cinn/hlir/pe/schedule.cc
Due: clang-format-with-version-check, copyright_checker

refine doc and close LOG
  cinn/backends/compiler.cc
  cinn/backends/llvm/execution_engine.cc
  cinn/backends/llvm/simple_jit.cc
  cinn/backends/llvm/simple_jit.h
  cinn/backends/nvrtc_util.cc
  cinn/common/cas.cc
  cinn/common/ir_util.cc
  cinn/frontend/computation.cc
  cinn/frontend/interpreter.cc
  cinn/frontend/paddle/model_parser.cc
  cinn/hlir/pe/nn.cc
  cinn/optim/replace_var_with_expr.cc
  cinn/poly/compute_at_transform.cc
  cinn/poly/stage.cc
  cinn/pybind/frontend.cc
  python/tests/test_computation.py
  tutorials/jit.py
  tutorials/load_paddle_model.cc
  tutorials/load_paddle_model.py
  tutorials/matmul.py
  tutorials/paddlepaddle.png
  tutorials/schedule_primitives.py
Due: clang-format-with-version-check, copyright_checker

refine doc and close LOG (#632)
  cinn/backends/compiler.cc
  cinn/backends/llvm/execution_engine.cc
  cinn/backends/llvm/simple_jit.cc
  cinn/backends/llvm/simple_jit.h
  cinn/backends/nvrtc_util.cc
  cinn/common/cas.cc
  cinn/common/ir_util.cc
  cinn/frontend/computation.cc
  cinn/frontend/interpreter.cc
  cinn/frontend/paddle/model_parser.cc
  cinn/hlir/pe/nn.cc
  cinn/optim/replace_var_with_expr.cc
  cinn/poly/compute_at_transform.cc
  cinn/poly/stage.cc
  cinn/pybind/frontend.cc
  python/tests/test_computation.py
  tutorials/jit.py
  tutorials/load_paddle_model.cc
  tutorials/load_paddle_model.py
  tutorials/matmul.py
  tutorials/paddlepaddle.png
  tutorials/schedule_primitives.py
Due: clang-format-with-version-check, copyright_checker

Add doc cherry-pick (#631)
  build.sh
  cinn/backends/codegen_cuda_dev_test.cc
  cinn/backends/compiler.cc
  cinn/backends/llvm/execution_engine.cc
  cinn/backends/llvm/simple_jit.cc
  cinn/backends/llvm/simple_jit.h
  cinn/backends/nvrtc_util.cc
  cinn/common/cas.cc
  cinn/common/ir_util.cc
  cinn/frontend/computation.cc
  cinn/frontend/interpreter.cc
  cinn/frontend/paddle/model_parser.cc
  cinn/hlir/pe/nn.cc
  cinn/optim/replace_var_with_expr.cc
  cinn/poly/compute_at_transform.cc
  cinn/poly/stage.cc
  cinn/pybind/frontend.cc
  cinn/pybind/lang.cc
  cinn/pybind/poly.cc
  docs/guide.md
  docs/source/conf.py
  docs/source/guide.md
  docs/source/index.rst
  python/tests/test_computation.py
  tutorials/README.md
  tutorials/README.txt
  tutorials/jit.py
  tutorials/load_paddle_model.cc
  tutorials/load_paddle_model.py
  tutorials/matmul.py
  tutorials/paddlepaddle.png
  tutorials/schedule_primitives.py
Due: clang-format-with-version-check, copyright_checker

add CinnBuilder and NetBuilder tutorials (#624)
  tutorials/cinn_builder.py
  tutorials/net_builder.py
Due: copyright_checker

fix reduce fusion
  cinn/hlir/op/reduction.cc
Due: clang-format-with-version-check, copyright_checker

fix code review
  cinn/frontend/cinn_builder.cc
  cinn/hlir/op/reduction.cc
  cinn/hlir/pe/reduction.cc
  cinn/hlir/pe/schedule.cc
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
Due: clang-format-with-version-check, copyright_checker
