Repository PaddlePaddle/CINN: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    sha: v1.0.1
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    sha: 5bf6c09bfa1297d3692cadd621ef95f1284e33c0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./tools/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
#-   repo: local
#    hooks:
#    -   id: cpplint-cpp-source
#        name: cpplint
#        description: Check C++ code style using cpplint.py.
#        entry: bash ./tools/codestyle/cpplint_pre_commit.hook
#        language: system
#        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: check-added-large-files
        args: [--maxkb=500]

# -   repo: https://github.com/pre-commit/pre-commit-hooks
#     rev: v1.2.3
#     hooks:
#     - id: flake8

-   repo: https://github.com/pre-commit/mirrors-yapf.git
    rev: v0.26.0
    hooks:
    - id: yapf
      args: ['--parallel', '--in-place']

-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$
        exclude: |
            (?x)^(
                infrt/.*
            )$

Fix the bug that logical_add operator only supports bool
  cinn/ir/ir.h
  python/tests/ops/test_logical_and_op.py
Due: clang-format-with-version-check, copyright_checker

Rename test_acos.py to test_acos_op.py
  python/tests/ops/test_acos_op.py
Due: copyright_checker

Op bitwise full type support (#1404)
  cinn/frontend/pass/cast_collapsing_test.cc
  cinn/frontend/pass/dead_code_eliminate_test.cc
  cinn/frontend/pass/gemm_rewriter_test.cc
  cinn/frontend/pass/pass_test_helper.h
  cinn/frontend/pass/program_topoerror_test.cc
  cinn/frontend/pass/transpose_folding_input_test.cc
  cinn/frontend/pass/transpose_folding_output_test.cc
  cinn/frontend/pass/transpose_scale_folding_test.cc
  cinn/hlir/op/contrib/lookup_table_test.cc
  cinn/hlir/op/contrib/reciprocal_test.cc
  cinn/hlir/op/op_util.cc
  cinn/hlir/op/op_util.h
  cinn/hlir/pass/test_dot_merger.cc
  cinn/ir/ir_operators.cc
  cinn/optim/map_extern_call.cc
  cinn/pybind/common.cc
  cinn/pybind/frontend.cc
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
  cinn/runtime/cuda/cuda_intrinsics.cc
  cinn/runtime/flags.cc
  cinn/runtime/flags.h
  python/tests/ops/test_bitwise_op.py
  python/tests/test_pe_elementwise.py
Due: clang-format-with-version-check, copyright_checker

fix ci test bug
  cinn/auto_schedule/search_strategy/mutate_rule/mutate_tile_size_test.cc
  cinn/backends/ir_schedule_test.cc
  cinn/common/axis.cc
  cinn/common/axis_test.cc
  cinn/hlir/pe/reduction.cc
  cinn/ir/ir_schedule.cc
  cinn/ir/schedule_desc_test.cc
  cinn/ir/tensor_test.cc
Due: clang-format-with-version-check, copyright_checker

fix pe transform test
  cinn/hlir/pe/pe_transform_test.cc
Due: clang-format-with-version-check, copyright_checker

add trigon op test
  python/tests/ops/test_unary_elementwise_op.py
Due: copyright_checker

skig x86 test
  python/tests/ops/test_unary_elementwise_op.py
Due: copyright_checker

[Perf]Add FLAGS for profiler to easily enable nvtx event for Nsight
  cinn/hlir/framework/instruction.cc
  cinn/runtime/cuda/cuda_module.cc
  cinn/runtime/cuda/cuda_util.cc
  cinn/runtime/flags.cc
  cinn/utils/profiler.cc
  cinn/utils/profiler.h
Due: clang-format-with-version-check, copyright_checker

do elementwise recompute
  cinn/hlir/pass/fusion_merge_pass.cc
Due: clang-format-with-version-check, copyright_checker

fix paddle.gather's index tensor rank may greater than 1 bug (#1427)
  cinn/frontend/op_mappers/paddle/gather.cc
Due: clang-format-with-version-check, copyright_checker

Op mapper scatter (#1301)
  cinn/frontend/op_mappers/paddle/scatter.cc
  cinn/frontend/op_mappers/use_op_mappers.h
  cinn/hlir/op/op_util.cc
  cinn/hlir/op/transform.cc
  cinn/hlir/pe/transform.cc
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
  cinn/runtime/cuda/cuda_instrinsics_float16.cc
  cinn/runtime/cuda/cuda_intrinsics.cc
  python/tests/op_mappers/test_scatter_op.py
  python/tests/ops/test_scatter_add.py
Due: clang-format-with-version-check, copyright_checker

using weak ptr
  cinn/hlir/framework/graph.h
  cinn/hlir/pass/fusion_merge_pass.cc
  cinn/hlir/pass/op_fusion_pass.cc
Due: clang-format-with-version-check, copyright_checker

Change graph pass to program pass, enable unit test of pass
  cinn/frontend/decomposer/broadcast.cc
  cinn/frontend/decomposer_registry.h
  cinn/frontend/optimize.cc
  cinn/frontend/pass/CMakeLists.txt
  cinn/frontend/pass/expand_zero_dim_pass.cc
  cinn/frontend/pass/expand_zero_dim_pass_test.cc
  cinn/frontend/pass/use_program_pass.h
  cinn/hlir/pass/CMakeLists.txt
  cinn/hlir/pass/expand_zero_dim_pass.cc
  cinn/hlir/pass/expand_zero_dim_pass_test.cc
  cinn/hlir/pass/use_pass.h
  cinn/pybind/frontend.cc
  python/tests/ops/test_zero_dim_tensor.py
Due: clang-format-with-version-check, copyright_checker

fix copy
  CMakeLists.txt
Due: none

polish codes
  cinn/frontend/decomposer/broadcast.cc
  cinn/frontend/net_builder.cc
  cinn/hlir/framework/tensor.h
  cinn/hlir/op/elementwise.cc
  python/tests/ops/op_test.py
Due: clang-format-with-version-check, copyright_checker

change year, 2021->2023
  python/tests/ops/test_zero_dim_tensor.py
Due: copyright_checker

Optimie OpFusionPass code (#1417)
  cinn/frontend/optimize.cc
  cinn/frontend/pass/CMakeLists.txt
  cinn/frontend/pass/auto_broadcast.cc
  cinn/frontend/pass/use_program_pass.h
  cinn/hlir/framework/op_lowering_util.cc
  cinn/hlir/op/broadcast.cc
  cinn/hlir/pass/op_fusion_pass.cc
  cinn/hlir/pass/op_fusion_pass_util.h
  python/tests/op_mappers/test_layer_norm_op.py
  python/tests/ops/op_test.py
Due: clang-format-with-version-check, copyright_checker

sleep for ci
  build.sh
Due: copyright_checker

Add new op tests and fix softmax bug
  cinn/frontend/decomposer/activation.cc
  python/tests/ops/test_conv2d_op.py
  python/tests/ops/test_pool2d_op.py
  python/tests/ops/test_softmax_op.py
Due: clang-format-with-version-check, copyright_checker

fix bug
  python/tests/ops/test_acos_op.py
Due: copyright_checker

Remove unused header
  cinn/frontend/decomposer/activation.cc
Due: clang-format-with-version-check, copyright_checker

fix bug
  cinn/ir/ir.h
Due: clang-format-with-version-check, copyright_checker

sleep for debug
  build.sh
Due: copyright_checker

add arc trigon op test
  python/tests/ops/test_unary_elementwise_op.py
Due: copyright_checker

Optimize nhwc reduce (#1413)
  cinn/auto_schedule/post_schedule_rule/cooperative_process_test.cc
  cinn/auto_schedule/search_space/auto_gen_rule/multi_level_tiling_test.cc
  cinn/auto_schedule/search_strategy/mutate_rule/mutate_tile_size_test.cc
  cinn/backends/ir_schedule_test.cc
  cinn/common/target.cc
  cinn/common/target.h
  cinn/hlir/framework/op_lowering.cc
  cinn/hlir/framework/op_lowering_test.cc
  cinn/hlir/framework/op_lowering_util.cc
  cinn/hlir/framework/op_lowering_util.h
  cinn/hlir/op/reduction.cc
  cinn/hlir/op/reduction_test.cc
  cinn/hlir/pass/op_fusion_pass.cc
  cinn/hlir/pe/ir_schedule_pe.cc
  cinn/hlir/pe/nn_util.cc
  cinn/hlir/pe/nn_util.h
  cinn/hlir/pe/pe_transform_test.cc
  cinn/hlir/pe/reduction.cc
  cinn/ir/ir_printer.cc
  cinn/ir/ir_schedule.cc
  cinn/ir/ir_schedule_util.cc
  cinn/ir/schedule_desc_test.cc
  cinn/optim/transform_gpu_forloop.cc
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
Due: clang-format-with-version-check, copyright_checker

Temp commit, develop, not tested
  cinn/hlir/framework/op_lowering.cc
  cinn/hlir/framework/op_lowering_util.cc
  cinn/hlir/framework/op_lowering_util.h
  cinn/ir/ir_schedule.cc
  cinn/ir/ir_schedule.h
  cinn/ir/schedule_desc.cc
Due: clang-format-with-version-check, copyright_checker

full constant folding pass
  cinn/hlir/pass/constant_folding_pass.cc
  cinn/hlir/pass/constant_folding_pass_util.cc
  cinn/hlir/pass/constant_folding_pass_util.h
  cinn/hlir/pass/fusion_helper_base.h
Due: clang-format-with-version-check, copyright_checker

Tmp commit
  cinn/hlir/framework/op_lowering_util.cc
  cinn/ir/ir_schedule.cc
  cinn/ir/schedule_desc.cc
Due: clang-format-with-version-check, copyright_checker

Revert "Op mapper scatter (#1301)"
  cinn/frontend/op_mappers/paddle/scatter.cc
  cinn/frontend/op_mappers/use_op_mappers.h
  cinn/hlir/op/op_util.cc
  cinn/hlir/op/transform.cc
  cinn/hlir/pe/transform.cc
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
  cinn/runtime/cuda/cuda_instrinsics_float16.cc
  cinn/runtime/cuda/cuda_intrinsics.cc
  python/tests/op_mappers/test_scatter_op.py
  python/tests/ops/test_scatter_add.py
Due: clang-format-with-version-check, copyright_checker

feat(fuse): add reduce fuse reduce between group (#1420)
  cinn/hlir/pass/fusion_merge_pass.cc
  cinn/hlir/pass/fusion_merge_pass_test.cc
  cinn/hlir/pass/fusion_merge_pass_util.h
  cinn/hlir/pass/op_fusion_pass.cc
Due: clang-format-with-version-check, copyright_checker

fix scatter op extern func name error bug
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
  cinn/runtime/cuda/cuda_intrinsics.cc
Due: clang-format-with-version-check, copyright_checker

fix macro name and fp16
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
  cinn/runtime/cuda/cuda_instrinsics_float16.cc
  cinn/runtime/cuda/cuda_intrinsics.cc
Due: clang-format-with-version-check, copyright_checker

remove headers
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
Due: none

remove header from cinn_cuda_runtime_source.cuh
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
Due: none

codestyle
  python/tests/ops/test_unary_elementwise_op.py
Due: copyright_checker

add modify_vectorize_pass
  cinn/common/float16.h
Due: clang-format-with-version-check, copyright_checker

fix nvcc test cmake bug
  CMakeLists.txt
  cinn/backends/CMakeLists.txt
  cinn/backends/codegen_cuda_dev.cc
  cinn/backends/codegen_cuda_dev.h
  cinn/backends/codegen_cuda_generate_test.cc
Due: clang-format-with-version-check, copyright_checker

fix test_codegen_debug bug
  cinn/backends/codegen_debug_test.cc
Due: clang-format-with-version-check, copyright_checker

Change CI paddle version 2.4.2->develop
  build.sh
Due: copyright_checker

fix single test bug
  cinn/backends/ir_schedule_test.cc
  cinn/ir/schedule_desc_test.cc
Due: clang-format-with-version-check, copyright_checker
