Repository PaddlePaddle/CINN: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

fix op_mapper_test none output
  python/tests/op_mappers/op_mapper_test.py
Due: copyright_checker

add python unittest of pass
  python/tests/passes/test_expand_zero_dim_pass.py
Due: copyright_checker

fix ci
  cinn/common/bfloat16.h
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
Due: clang-format-with-version-check, copyright_checker

fix ci bug
  cinn/auto_schedule/post_schedule_rule/cooperative_process_test.cc
  cinn/auto_schedule/search_space/auto_gen_rule/multi_level_tiling_test.cc
  cinn/auto_schedule/search_space/search_state_test.cc
  cinn/auto_schedule/search_strategy/mutate_rule/mutate_tile_size_test.cc
  cinn/auto_schedule/task/tune_task_test.cc
  cinn/backends/ir_schedule_test.cc
  cinn/common/float16_bfloat16_cuda_test.cu
  cinn/hlir/pass/common_subexpression_elimination.cc
  cinn/hlir/pass/common_subexpression_elimination_test.cc
  cinn/hlir/pe/ir_schedule_pe.cc
  cinn/ir/ir_compare_test.cc
  cinn/ir/ir_schedule.cc
  cinn/ir/schedule_desc_test.cc
  cinn/lang/lower_impl.cc
  cinn/optim/remove_schedule_block_test.cc
  cinn/poly/isl_utils.cc
  python/tests/ops/test_reduce_op_new.py
Due: clang-format-with-version-check, copyright_checker

rm debugging cmd 'sleep 30d' in build.sh
  build.sh
Due: copyright_checker

Update README.md
  README.md
Due: none

fix ci bug
  cinn/auto_schedule/task/tune_task_test.cc
Due: clang-format-with-version-check, copyright_checker

Keep norm_grad dtype same as input dtype
  cinn/frontend/op_mappers/paddle/norm.cc
  python/tests/op_mappers/test_norm_op.py
Due: clang-format-with-version-check, copyright_checker

update paddle desc to newest
  cinn/frontend/paddle/cpp/desc_api.h
  cinn/frontend/paddle/cpp/op_desc.cc
  cinn/optim/map_extern_call.cc
Due: clang-format-with-version-check, copyright_checker

add unitest for sqrt op
  python/tests/ops/test_sqrt_op.py
Due: copyright_checker

Fix some bugs
  cinn/backends/codegen_cuda_dev.cc
  cinn/common/type.h
Due: clang-format-with-version-check, copyright_checker

[0D-Tensor] Add ExpandZeroDimPass, support 0D input and output (#1428)
  cinn/frontend/decomposer/broadcast.cc
  cinn/frontend/decomposer_registry.h
  cinn/frontend/net_builder.cc
  cinn/frontend/optimize.cc
  cinn/frontend/pass/CMakeLists.txt
  cinn/frontend/pass/expand_zero_dim_pass.cc
  cinn/frontend/pass/expand_zero_dim_pass_test.cc
  cinn/frontend/pass/use_program_pass.h
  cinn/ir/ir_printer.cc
  cinn/pybind/frontend.cc
  python/tests/ops/test_zero_dim_tensor.py
  python/tests/passes/test_expand_zero_dim_pass.py
Due: clang-format-with-version-check, copyright_checker

[Update paddle] CI update paddle version, 2.4.2->develop (#1443)
  build.sh
  python/tests/conv2d_utils.py
  python/tests/fake_model/naive_mul.py
  python/tests/fake_model/naive_multi_fc.py
  python/tests/fake_model/resnet_model.py
  python/tests/op_mappers/op_mapper_test.py
  python/tests/ops/op_test.py
  python/tests/ops/test_conv2d_op.py
  python/tests/ops/test_matmul_op.py
  python/tests/test_computation.py
  python/tests/test_efficientnet.py
  python/tests/test_facedet.py
  python/tests/test_frontend.py
  python/tests/test_mobilenetv1.py
  python/tests/test_mobilenetv2.py
  python/tests/test_netbuilder.py
  python/tests/test_op_benchmark.py
  python/tests/test_op_nn.py
  python/tests/test_op_transform.py
  python/tests/test_paddle_model_convertor.py
  python/tests/test_resnet.py
  python/tests/test_resnet18.py
  python/tests/test_resnet50.py
  python/tests/test_squeezenet.py
  tools/paddle_benchmark/paddle_save_model.py
  tools/paddle_benchmark/test_paddle_ops.py
Due: copyright_checker

Add Op UnitTest for sin/cos/tan/sinh/cosh/tanh/asin (#1426)
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
  cinn/runtime/cuda/cuda_instrinsics_bfloat16.cc
  cinn/runtime/cuda/cuda_instrinsics_float16.cc
  python/tests/ops/test_asin_op.py
  python/tests/ops/test_cos_op.py
  python/tests/ops/test_cosh_op.py
  python/tests/ops/test_sin_op.py
  python/tests/ops/test_sinh_op.py
  python/tests/ops/test_tan_op.py
  python/tests/ops/test_tanh_op.py
Due: clang-format-with-version-check, copyright_checker

Keep norm_grad dtype same as input dtype (#1446)
  cinn/frontend/op_mappers/paddle/norm.cc
  python/tests/op_mappers/test_norm_op.py
Due: clang-format-with-version-check, copyright_checker

[0D-Tensor] InferShapeForReshape support 0D-Tensor
  cinn/hlir/op/elementwise.cc
Due: clang-format-with-version-check, copyright_checker

Fix bug
  cinn/hlir/pass/fusion_merge_pass_util.h
Due: clang-format-with-version-check, copyright_checker

Skip pool2d op mapper tests if is not build with cudnn
  python/tests/op_mappers/test_pool2d_op.py
Due: copyright_checker

fix loop level cannot exceed 9 and cas frac simplify bug
  cinn/common/CMakeLists.txt
  cinn/common/axis.cc
  cinn/common/axis.h
  cinn/common/axis_test.cc
  cinn/common/cas.cc
  cinn/common/cas_test.cc
  cinn/common/float16_bfloat16_cuda_test.cu
  cinn/hlir/framework/graph.cc
  cinn/hlir/framework/graph_compiler.cc
  cinn/hlir/pass/common_subexpression_elimination.cc
  cinn/hlir/pass/common_subexpression_elimination_test.cc
  cinn/hlir/pe/reduction.cc
  cinn/ir/tensor_test.cc
  cinn/lang/compute.cc
  cinn/pybind/frontend.cc
  python/tests/ops/test_reduce_op_new.py
  python/tests/ops/test_reduce_op_other.py
Due: clang-format-with-version-check, copyright_checker

revert some useless code
  cinn/common/CMakeLists.txt
  cinn/common/axis.cc
  cinn/common/axis.h
  cinn/common/axis_test.cc
  cinn/common/cas.cc
  cinn/common/cas_test.cc
  cinn/common/float16_bfloat16_cuda_test.cu
  cinn/hlir/framework/graph.cc
  cinn/hlir/framework/graph_compiler.cc
  cinn/hlir/pass/common_subexpression_elimination.cc
  cinn/hlir/pass/common_subexpression_elimination_test.cc
  cinn/hlir/pe/reduction.cc
  cinn/ir/tensor_test.cc
  cinn/lang/compute.cc
  python/tests/ops/test_reduce_op_new.py
Due: clang-format-with-version-check, copyright_checker

Fix data_format check bug
  cinn/frontend/net_builder.cc
Due: clang-format-with-version-check, copyright_checker

add some bf16 funcs (#1410)
  build.sh
  cinn/backends/codegen_cuda_dev.cc
  cinn/backends/codegen_cuda_host.cc
  cinn/backends/llvm/codegen_llvm.cc
  cinn/backends/llvm/codegen_llvm.h
  cinn/common/bfloat16.h
  cinn/frontend/paddle/framework.proto
  cinn/frontend/paddle/model_parser.cc
  cinn/frontend/paddle/pb/var_desc.cc
  cinn/frontend/var_type_utils.h
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
  cinn/runtime/cuda/cuda_module_test.cc
Due: clang-format-with-version-check, copyright_checker

[0D-Tensor] InferShapeForReshape support 0D-Tensor (#1449)
  cinn/hlir/op/elementwise.cc
Due: clang-format-with-version-check, copyright_checker

fix(ir): fix copy error of var in ir
  cinn/optim/transform_gpu_forloop.cc
Due: clang-format-with-version-check, copyright_checker

Add Op UniTest for atan atanh asinh acosh
  python/tests/ops/test_acosh_op.py
  python/tests/ops/test_asinh_op.py
  python/tests/ops/test_atan_op.py
  python/tests/ops/test_atanh_op.py
Due: copyright_checker

Fix typos
  cinn/hlir/pass/check_fusion_accuracy_pass_test.cc
Due: clang-format-with-version-check, copyright_checker

Fix typos
  cinn/common/cas.cc
  cinn/common/cas.h
  cinn/frontend/decomposer/batch_norm_test.cc
  cinn/frontend/op_mappers/paddle/batchnorm.cc
  cinn/frontend/pass/cast_collapsing.cc
  cinn/hlir/op/elementwise.cc
  cinn/optim/buffer_assign.cc
  cinn/runtime/cinn_runtime.h
  cinn/utils/event.cc
  cmake/core.cmake
  docs/design.org
  infrt/common/axis.h
Due: clang-format-with-version-check, copyright_checker

modify of cuda Kernel generation strategy
  cinn/backends/codegen_cuda_dev.cc
  cinn/common/float16.h
  cinn/ir/ir.cc
  cinn/optim/vectorize_loops.cc
Due: clang-format-with-version-check, copyright_checker

op unittest for squeeze op
  python/tests/ops/test_squeeze_op.py
Due: copyright_checker

fix bf16 bug, __nv_bfloat16 to cinn::common::bfloat16 need explicit
  cinn/common/bfloat16.h
Due: clang-format-with-version-check, copyright_checker

op unittest for subtract
  python/tests/ops/test_subtract_op.py
Due: copyright_checker

op unittest for sum
  python/tests/ops/test_sum_op.py
Due: copyright_checker

update paddle desc to newest (#1447)
  cinn/frontend/paddle/cpp/desc_api.h
  cinn/frontend/paddle/cpp/op_desc.cc
  cinn/optim/map_extern_call.cc
Due: clang-format-with-version-check, copyright_checker

fix
  python/tests/ops/test_broadcast_to_op_new.py
Due: copyright_checker

replace type deduction with explicit type
  cinn/optim/transform_gpu_forloop.cc
Due: clang-format-with-version-check, copyright_checker

fix reduce median compute for loop var name repeat bug (#1424)
  cinn/auto_schedule/post_schedule_rule/cooperative_process_test.cc
  cinn/auto_schedule/search_space/auto_gen_rule/multi_level_tiling_test.cc
  cinn/auto_schedule/search_space/search_state_test.cc
  cinn/auto_schedule/search_strategy/mutate_rule/mutate_tile_size_test.cc
  cinn/auto_schedule/task/tune_task_test.cc
  cinn/backends/ir_schedule_test.cc
  cinn/hlir/pe/ir_schedule_pe.cc
  cinn/ir/ir_compare_test.cc
  cinn/ir/ir_schedule.cc
  cinn/ir/schedule_desc_test.cc
  cinn/lang/lower_impl.cc
  cinn/optim/remove_schedule_block_test.cc
  cinn/poly/isl_utils.cc
Due: clang-format-with-version-check, copyright_checker

remove cpp style code from .cuh
  cinn/runtime/cuda/cinn_cuda_runtime_source.cuh
Due: none

fix bf16 bug (#1456)
  cinn/common/bfloat16.h
Due: clang-format-with-version-check, copyright_checker

modify eular_beam bug
  cinn/hlir/framework/op_lowering_util.cc
Due: clang-format-with-version-check, copyright_checker

op unittest for scatter_add
  python/tests/ops/test_scatter_add.py
Due: copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$, but not: (?x)^(
    infrt/.*
)$

