Repository PaddlePaddle/CINN: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    sha: v1.0.1
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    sha: 5bf6c09bfa1297d3692cadd621ef95f1284e33c0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./tools/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
#-   repo: local
#    hooks:
#    -   id: cpplint-cpp-source
#        name: cpplint
#        description: Check C++ code style using cpplint.py.
#        entry: bash ./tools/codestyle/cpplint_pre_commit.hook
#        language: system
#        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: check-added-large-files
        args: [--maxkb=500]

# -   repo: https://github.com/pre-commit/pre-commit-hooks
#     rev: v1.2.3
#     hooks:
#     - id: flake8

-   repo: https://github.com/pre-commit/mirrors-yapf.git
    rev: v0.26.0
    hooks:
    - id: yapf
      args: ['--parallel', '--in-place']

-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$
        exclude: |
            (?x)^(
                infrt/.*
            )$

update examples in README and add thumbnail to docs (#633)
  README.md
  cinn/lang/builtin.cc
  docs/source/cinn_builder_api.md
  docs/source/index.rst
  docs/source/paddlepaddle.png
  tutorials/cinn_builder.py
  tutorials/load_paddle_model.py
  tutorials/net_builder.py
Due: clang-format-with-version-check, copyright_checker

add xla to reference
  README.md
Due: none

Update README.md
  README.md
Due: none

fix pybind, ComparisionKind enum export (#643)
  cinn/hlir/op/reduction.cc
  cinn/pybind/frontend.cc
  python/tests/test_cinnbuilder.py
Due: clang-format-with-version-check, copyright_checker

debug
  tutorials/cinn_builder.py
Due: copyright_checker

Add a training tutorial: Training ResNet50 using Paddle compiled with CINN.
  tutorials/train_resnet50_with_cinn.py
Due: copyright_checker

fix document bug
  tutorials/cinn_builder.py
Due: copyright_checker

Create .nojekyll
  .nojekyll
Due: none

fix README
  README.md
Due: none

fix document bug (#645)
  tutorials/cinn_builder.py
Due: copyright_checker

fix ci bugs
  README.md
  build.sh
  tutorials/train_resnet50_with_cinn.py
Due: copyright_checker

fix docs
  build.sh
  tools/docker/Dockerfile.ci.cuda
  tutorials/cinn_builder.py
  tutorials/net_builder.py
  tutorials/train_resnet50_with_cinn.py
Due: copyright_checker

debug build.sh
  build.sh
Due: copyright_checker

temp fix
  build.sh
  docs/source/index.rst
  docs/source/train_resnet50_with_cinn.md
  tutorials/net_builder.py
Due: copyright_checker

new fix
  train_resnet50_with_cinn.html
Due: none

Add new html (#657)
  train_resnet50_with_cinn.html
Due: none

fix doc bug
  build.sh
  docs/source/index.rst
  tutorials/net_builder.py
Due: copyright_checker

Add the pre-compiled paddle whl package for download.
  tutorials/train_resnet50_with_cinn.py
Due: copyright_checker

Fix some syntax errors.
  tutorials/train_resnet50_with_cinn.py
Due: copyright_checker

Add the docker requirement in this tutorial.
  tutorials/train_resnet50_with_cinn.py
Due: copyright_checker

fix env
  build.sh
Due: copyright_checker

Use the required docker image to create a container.
  tutorials/train_resnet50_with_cinn.py
Due: copyright_checker

Update values of some hyperparameters.
  tutorials/train_resnet50_with_cinn.py
Due: copyright_checker

temp fix
  build.sh
  tutorials/load_paddle_model.py
Due: copyright_checker

fix url
  build.sh
Due: copyright_checker

add echo
  build.sh
Due: copyright_checker

fix bug
  build.sh
Due: copyright_checker

try to fix
  build.sh
  docs/source/conf.py
  docs/source/index.rst
  tutorial_paddle/README.md
  tutorial_paddle/train_resnet50_with_cinn.py
  tutorials/README.md
Due: copyright_checker

temp fix
  tutorials/CMakeLists.txt
  tutorials/README.md
  tutorials/cinn_builder.py
  tutorials/demo.cc
  tutorials/jit.py
  tutorials/load_paddle_model.cc
  tutorials/load_paddle_model.py
  tutorials/matmul.cc
  tutorials/matmul.py
  tutorials/net_builder.py
  tutorials/schedule_primitives.py
Due: clang-format-with-version-check, copyright_checker

fix doc
  build.sh
  docs/source/train_resnet50_with_cinn.md
Due: copyright_checker

Update the version of paddle in build.sh.
  build.sh
Due: copyright_checker
